<% rating_value = case service.average_rating
                  when 0..1.9
                    "Tạm được"
                  when 2..2.9
                    "Bình thường"
                  when 3..3.9
                    "Khá tốt"
                  when 4..4.9
                  "Rất tốt"
                  else
                    "Tuyệt vời"
                  end %>
<article class="storefront" data-controller="service-details">
  <aside class="storefrontHeadingWrap">
    <header class="storefrontHeading storefrontHeading--sticky app-storefront-sticky-heading storefrontHeading--fadein">
      <div class="storefrontHeading__titleWrap">
        <h1 class="storefrontHeading__title"><%= service.name %></h1>
        <button type="button" class="storefrontHeading__action favoriteButton app-favorite-save-vendor" aria-label="Add vendor to favorites">
          <%= inline_svg_tag "svg/heart.svg", size: "24" %>
        </button>
      </div>
      <div class="storefrontHeading__content">
        <div class="storefrontHeadingReviews">
          <a class="storefrontHeading__item app-heading-quick-link app-heading-global-tracking" href="#reviews">
            <span class="storefrontHeadingReviews__stars">
              <% if service.reviews_count.zero? %>
                <%= inline_svg_tag "svg/star-outline.svg", size: "24" %>
                <span class="storefrontHeadingReviews__starsValue" aria-hidden="true">
                  Chưa có đánh giá
                </span>
              <% else %>
                <% service.average_rating.round.times do %>
                  <%= inline_svg_tag "svg/star.svg", size: "24", class: "text-yellow-400" %>
                <% end %>
                <% (5 - service.average_rating.round).times do %>
                  <%= inline_svg_tag "svg/star.svg", size: "24", class: "text-gray-300" %>
                <% end %>
                <span class="storefrontHeadingReviews__starsValue" aria-hidden="true">
                  <%= "#{service.average_rating} #{rating_value}" %>
                </span>
              <% end %>
            </span>
          </a>
          <a class="storefrontHeading__item app-heading-quick-link app-heading-global-tracking" href="#reviews">
            <span class="storefrontHeadingReviews__count">
              <%= service.reviews_count %> đánh giá
            </span>
          </a>
        </div>
        <div class="storefrontHeadingLocation storefrontHeading__item">
          <%= inline_svg_tag "svg/map-pin.svg", size: "24" %>
          <div class="storefrontHeadingLocation__label app-heading-global-tracking">
            <% if service.first_or_main_address.present? %>
              <a class="app-heading-quick-link" href="#map">
                <%= service.first_or_main_address&.province %>, <%= service.first_or_main_address&.district %>
              </a>
            <% else %>
              <span class="app-heading-quick-link">
                Chưa có địa chỉ
              </span>
            <% end %>
          </div>
        </div>
        <% if service.first_or_main_address&.phone.present? %>
          <div class="storefrontHeadingLocation storefrontHeading__item">
            <%= inline_svg_tag "svg/smart-phone.svg", size: "24" %>
            <div class="storefrontHeadingLocation__label app-heading-global-tracking">
              <% if service.first_or_main_address.present? %>
                <%= link_to service.first_or_main_address&.phone, "tel:#{service.first_or_main_address&.phone}", class: "app-heading-quick-link" if service.first_or_main_address&.phone.present? %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="storefrontHeadingWebsite storefrontHeading__item">
          <%= inline_svg_tag "svg/panels-top-left.svg", size: "24" %>
          <% if service.website.present? %>
            <a class="storefrontHeadingWebsite__label app-storefront-visit-website" href="<%= service.website %>" target="_blank" rel="noopener noreferrer">
              Đến website
            </a>
          <% else %>
            <span class="storefrontHeadingWebsite__label app-storefront-visit-website">Chưa có website</span>
          <% end %>
        </div>
      </div>
      <div class="storefrontHeadingFaqs">
        <div class="storefrontHeadingFaqsCard">
          <%= inline_svg_tag "svg/wallet.svg", size: "24" %>
          <span class="storefrontHeadingFaqsCard__label">
            <% if service.pricing %>
              <%= number_to_currency service.pricing, unit: "đ", precision: 0, format: "%n %u" %> - Giá trung bình
            <% else %>
              Liên hệ để biết giá
            <% end %>
          </span>
        </div>
      </div>
      <div class="storefrontHeadingLeads">
        <div class="inspireTrust">
          <%= inline_svg_tag "svg/bolt.svg", class:"size-6 text-yellow-400" %>
          Trả lời trong vòng 24 giờ
        </div>

        <button type="button" class="button button--primary storefrontHeading__lead app-default-simple-lead" aria-label="Request pricing">
          Gửi yêu cầu liên hệ
        </button>
      </div>
      <div class="storefrontHeadingFooterBox">
        <div class="storefrontHeadingVendorFeatures app-vendor-facts-feature">
        </div>
      </div>
    </header>
  </aside>
  <nav class="sectionNavigation storefrontNavigationStatic app-section-navigation-static  count4">
    <div class="storefrontNavigationStatic__slider scrollSnap">
      <ul class="scrollSnap__container">
        <li class="storefrontNavigationStatic__item scrollSnap__item sectionNavigation__itemRelevantInfo">
          <a class="storefrontNavigationStatic__anchor app-section-navigation-tracking app-section-navigation-anchor" href="#description">
            Giới thiệu
          </a>
        </li>
        <li class="storefrontNavigationStatic__item scrollSnap__item sectionNavigation__itemRelevantInfo">
          <a class="storefrontNavigationStatic__anchor app-section-navigation-tracking app-section-navigation-anchor" href="#faqs">
            FAQs
          </a>
        </li>
        <li class="storefrontNavigationStatic__item scrollSnap__item sectionNavigation__itemRelevantInfo">
          <a class="storefrontNavigationStatic__anchor app-section-navigation-tracking app-section-navigation-anchor" href="#reviews">
            Đánh giá <span class="storefrontNavigationStatic__count">11</span>
          </a>
        </li>
        <li class="storefrontNavigationStatic__item scrollSnap__item sectionNavigation__itemRelevantInfo">
          <a class="storefrontNavigationStatic__anchor app-section-navigation-tracking app-section-navigation-anchor" href="#map">
            Bản đồ
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <section class="storefrontMultiGallery app-gallery-slider app-multi-gallery app-gallery-fullScreen-global-tracking">
    <div class="storefrontMultiGallery__content" role="region" aria-label="Claire Taylor Photography Carrousel">
      <div class="storefrontMultiGallery__actions">
        <button type="button" class="storefrontBackLink app-storefront-breadcrumb-backLink " title="Your search">
          <%= inline_svg_tag "svg/arrow-left.svg", class: "size-6 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" %>
        </button>
        <button type="button" class="storefrontMultiGallery__favorite  favoriteButton app-favorite-save-vendor" aria-label="Add vendor to favorites" aria-pressed="false">
          <%= inline_svg_tag "svg/heart.svg", class: "size-6 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" %>
        </button>
      </div>
      <section class="storefrontMultiGallery__scroll app-gallery-slider-container app-scroll-snap-container ">

        <% service.first_four_items.each_with_index do |item, idx| %>
          <figure class="storefrontMultiGallery__item app-scroll-snap-item app-gallery-image-fullscreen-open app-gallery-global-tracking storefrontMultiGallery__item--<%= idx %>">
            <%= picture_tag item.variant(:medium),
                            image: {
                              size: "640x427", sizes: "(min-width: 1024px) 600px, (min-width: 480px) 400px, 100vw",
                              fetchpriority: (idx == 0 ? "high" : nil)
                            } %>
            <figcaption><%= service.name %></figcaption>
          </figure>
        <% end %>

        <%# This is to fill the empty space if the service has less than 4 items %>
        <% if service.first_four_items.size < 4 %>
          <% (4 - service.first_four_items.size).times do |idx| %>
            <figure class="storefrontMultiGallery__item app-scroll-snap-item app-gallery-image-fullscreen-open app-gallery-global-tracking storefrontMultiGallery__item--<%= 3 - idx %>">
              <%= picture_tag asset_path "empty-image-thumb.png", image: { size: "640x427", sizes: "(min-width: 1024px) 600px, (min-width: 480px) 400px, 100vw" } %>
              <figcaption>Empty space</figcaption>
            </figure>
          <% end %>
        <% end %>

      </section>
      <div class="storefrontMultiGallery__button">
        <%= link_to service_galleries_path(service), class: "button app-gallery-slider-fullscreen-open app-gallery-fullscreen-open" do %>
          Xem ảnh <span><%= service.total_items_count %></span>
        <% end %>
      </div>
    </div>
  </section>
  <div class="storefrontContent">
    <div class="storefrontSummary">
      <section class="storefrontDescription app-section-highlighter-item">
        <h2 id="description" class="storefrontDescription__title" tabindex="-1">Giới thiệu</h2>
        <div class="storefrontDescription__timeReferences">
          <p class="storefrontDescription__timeReferencesIconContainer">
            <%= inline_svg_tag "svg/flag.svg", size: "24" %>
            <span>Tham gia Wedding Vista từ 2024</span>
          </p>
        </div>
        <div class="storefrontDescription__content app-storefront-description-readMore truncate-overflow--withShadow truncate-overflow" data-service-details-target="description">
          <%= simple_format service.description %>
        </div>
        <button type="button" data-action="service-details#toggleDescriptionReadMore" class="hidden storefrontDescription__link app-storefront-description-link">Đọc thêm</button>
      </section>
      <div class="storefrontSummary__socialMedia">
        <div class="vendorSocialMedia">
          <p class="vendorSocialMedia__title">Follow <%= service.name %> trên</p>
          <div class="vendorSocialMedia__linksContainer">
            <a title="Follow us on Instagram" class="vendorSocialMedia__link app-ua-track-event" target="_blank" href="https://www.instagram.com/" rel="noopener noreferrer nofollow">
              <%= inline_svg_tag "svg/instagram.svg" %>
            </a>
            <a title="Follow us on Facebook" class="vendorSocialMedia__link app-ua-track-event" target="_blank" href="https://www.instagram.com/" rel="noopener noreferrer nofollow">
              <%= inline_svg_tag "svg/facebook.svg" %>
            </a>
            <a title="Follow us on X" class="vendorSocialMedia__link app-ua-track-event" target="_blank" href="https://www.instagram.com/" rel="noopener noreferrer nofollow">
              <%= inline_svg_tag "svg/x.svg" %>
            </a>
            <a title="Follow us on Pinterest" class="vendorSocialMedia__link app-ua-track-event" target="_blank" href="https://www.instagram.com/" rel="noopener noreferrer nofollow">
              <%= inline_svg_tag "svg/pinterest.svg" %>
            </a>
            <a title="Follow us on Youtube" class="vendorSocialMedia__link app-ua-track-event" target="_blank" href="https://www.instagram.com/" rel="noopener noreferrer nofollow">
              <%= inline_svg_tag "svg/youtube.svg" %>
            </a>
          </div>
        </div>
      </div>
    </div>
    <section class="storefrontFaqs app-faqs-toggle app-section-highlighter-item <%= "all" if service.common_questions.size <= 4 %>" data-service-details-target="faqs">
      <h2 id="faqs" class="storefrontFaqs__title" tabindex="-1">Các câu hỏi thường gặp</h2>
      <div class="storefrontFaqs__container">
        <% if service.common_questions.present? %>
          <% service.common_questions.each do |item| %>
            <div class="storefrontFaqs__item">
              <h3 class="storefrontFaqs__itemTitle"><%= item.question %></h3>
              <div class="storefrontFaqs__itemContent">
                <div class="storefrontFaqs__itemBlock">
                  <%= item.answer %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="italic text-sm">Chưa có câu hỏi nào</p>
        <% end %>
      </div>
      <button type="button" data-action="service-details#openAllFAQs" class="storefrontFaqs__button button button--tertiary app-faqs-toggle-action">View more FAQs</button>
    </section>
    <section class="storefrontReviews app-storefront-reviews app-section-highlighter-item">
      <div class="storefrontReviewsHeader">
        <h2 id="reviews" class="storefrontReviewsHeader__title storefrontReviewsSummaryCTA__title" tabindex="-1">
          Đánh giá tổng thể của <%= service.name %>
        </h2>
      </div>
      <div class="storefrontReviewsSummaryCTA">
        <div class="storefrontReviewsSummaryCTA__score">
          <div class="storefrontReviewsSummaryCTA__scoreText">
            <div class="storefrontReviewsSummaryCTA__scoreValue">
              <div class="storefrontReviewsSummaryCTA__heading">
                <div class="storefrontReviewsSummaryCTA__label" aria-hidden="true">
                  <% if service.reviews_count.zero? %>
                    <span>Chưa có đánh giá</span>
                  <% else %>
                    <span><%= service.average_rating %></span> <%= rating_value %>
                  <% end %>
                </div>
                <div class="storefrontReviewsSummaryCTA__stars">
                  <% unless service.reviews_count.zero? %>
                    <% service.average_rating.round.times do %>
                      <%= inline_svg_tag "svg/star.svg", size: "24", class: "text-yellow-400" %>
                    <% end %>
                    <% (5 - service.average_rating.round).times do %>
                      <%= inline_svg_tag "svg/star.svg", size: "24", class: "text-gray-300" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="storefrontReviewsSummaryCTA__starsText">
                <%= service.reviews_count %> Đánh giá
              </div>
            </div>
          </div>
          <div class="storefrontReviewsSummaryCTA__button">
            <button class="app-storefront-add-review-cta button button--primary storefrontReviewsHeader__button" data-action="service-details#openOverlay">
              Viết đánh giá
            </button>
          </div>
        </div>
      </div>

      <ul class="app-infinite-scroll-content app-reviews-list">
        <% service.reviews.order(id: :desc).each_with_index do |review, idx| %>
          <li class="<%= "!hidden" if idx > 1 %> storefrontReviewsTileSubpage  app-reviews-tile-rating-toggle" data-service-details-target="review">
            <div class="storefrontReviewsTileSubpage__avatar">
              <% if review.user.avatar.attached? %>
                <%= image_tag review.user.avatar.variant(:thumb), class: "w-full h-full object-cover rounded-full" %>
              <% else %>
                <%= render "shared/text_avatar", text: review.user.name.chr.upcase %>
              <% end %>
            </div>
            <div class="storefrontReviewsTileInfo">
              <%= review.user.name %>        <span class="storefrontReviewsTileInfo__date">- <%= local_date(review.created_at) %></span>
            </div>
            <div class="storefrontReviewsTileSubpage__ratingAction app-reviews-tile-rating-toggle-action">
              <%= render "shared/rating_stars", rating: review.rating %>
            </div>
            <div class="storefrontReviewsTileContent">
              <p class="storefrontReviewsTileContent__title"><%= review.title %></p>
              <div class="storefrontReviewsTileContent__description app-reviews-tile-read-more">
                <%= simple_format review.body %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>

      <% if service.reviews_count > 2 %>
        <div class="flex justify-center storefrontReviewsList">
          <button class="button button--tertiary storefrontReviewsListFooter__more app-storefront-all-reviews-link" data-action="service-details#openAllReviews" title="See all reviews">
            Tất cả đánh giá
            <%= inline_svg_tag "svg/right-arrow.svg", size: "20" %>
          </button>
        </div>
      <% end %>

      <div class="sectionLeadTile sectionLeadTile--primary sectionLeadTile--reviews app-default-simple-lead-secondary-cta " data-vendor-id="2184871" data-cta-section="END_REVIEWS" data-tracking-section="profile_cta_reviews" data-frm-insert="" data-frm-insert-json="{&quot;desktop&quot;:105,&quot;mobile&quot;:106}" data-lead-form-with-services="1" role="button" tabindex="0">
        <div class="sectionLeadTile__iconContainer">
          <img class="svgIcon svgIcon__message_bubble sectionLeadTile__icon ls-is-cached lazyloaded" alt="illustration message bubble" width="56" height="56" src="<%= asset_path "message_bubble.svg" %>">
        </div>
        <div class="sectionLeadTile__content">
          <p class="sectionLeadTile__title">Bạn có hứng thú?</p>
          <span class="sectionLeadTile__link">
            Nhắn tin cho nhà cung cấp
          </span>
        </div>
      </div>
    </section>

    <section class="storefrontMap app-section-highlighter-item">
      <h2 id="map" class="storefrontMap__title" tabindex="-1">Địa chỉ</h2>

      <div class="app-storefront-addresses storefrontAddresses">
        <% service.addresses_sorted_by_main_first.each_with_index do |address, idx| %>
          <div class="app-storefront-item-active storefrontAddresses__itemActive ">
            <% if idx == 0 %>
              <div class="app-storefront-map storefrontAddresses__map">
                <div class="aspect-[2/1] rounded-md overflow-hidden">
                  <div data-controller="goong-non-interactive-map" class="h-full w-full"
                        data-goong-non-interactive-map-lat-value="<%= address.latitude %>"
                        data-goong-non-interactive-map-lng-value="<%= address.longitude %>">
                  </div>
                </div>
              </div>
            <% end %>
            <div class="storefrontAddresses__infoActive">
              <%= inline_svg_tag "svg/map-pin.svg", class: "text-[#FCB796] storefrontAddresses__icon" %>
              <div class="app-storefront-header storefrontAddresses__header">
                <%= address.full_address %>
              </div>
              <div class="app-storefront-content storefrontAddresses__content">
                <div class="storefrontAddresses__phone">
                  <span class="app-phone-replace" data-vendorid="2184871">
                    <%= address.phone %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </section>
  </div>

  <div class="fixed inset-0 z-10 bg-black bg-opacity-50 overflow-y-auto overflow-x-hidden sm:justify-end hidden" aria-modal="true" data-service-details-target="overlay">
    <div class="zoom-in col-span-1 bg-white shadow-md min-w-fit min-h-[100px] rounded-md mx-auto mt-8 flex flex-col w-[600px]">
      <%# head %>
      <div class="py-3.5 px-5 rounded-t-md border-b border-gray-300 text-gray-600 bg-gray-50">
        <div class="flex justify-between items-center flex-wrap font-semibold">
          Đánh giá dịch vụ
          <button data-action="click->service-details#closeOverlay" class="text-xl hover:text-indigo-700">
            <%= inline_svg_tag "svg/x-close.svg", size: "24" %>
          </button>
        </div>
      </div>

      <%# body %>
      <div class="flex-1 p-5">
        <div class="p-5 -m-5">
          <%= form_with model: [service, Review.new(service_id: service.id)], class: "space-y-4" do |f| %>
            <div class="flex flex-col gap-2">
              <div>
                <%= f.label :rating, class: "text-sm font-medium text-gray-700" do %>
                  Đánh giá
                  <span class="text-red-500 font-bold text-sm">*</span>
                <% end %>
              </div>
              <div class="flex flex-row-reverse items-center justify-end">
                <% (1..5).each do |i| %>
                  <input type="radio" id="rating_<%= 6 - i %>" name="review[rating]" value="<%= 6 - i %>" class="sr-only peer/input">
                  <label for="rating_<%= 6 - i %>" class="cursor-pointer text-gray-300 peer/label peer-hover/label:text-yellow-400 peer-checked/input:text-yellow-400 hover:text-yellow-400">
                    <%= inline_svg_tag "svg/star.svg", size: "24" %>
                  </label>
                <% end %>
              </div>
            </div>
            <div class="flex flex-col gap-2">
              <div>
                <%= f.label :title, class: "text-sm font-medium text-gray-700" do %>
                  Tiêu đề
                  <span class="text-red-500 font-bold text-sm">*</span>
                <% end %>
              </div>
              <%= f.text_field :title, class: "border border-gray-300 rounded py-1.5 px-3.5 text-sm outline-none focus:border-gray-500 hover:border-gray-400", 
              placeholder: "Nhập tiêu đề đánh giá" %>
            </div>

            <div class="flex flex-col gap-2">
              <div>
                <%= f.label :body, class: "text-sm font-medium text-gray-700" do %>
                  Nội dung
                  <span class="text-red-500 font-bold text-sm">*</span>
                <% end %>
              </div>
              <%= f.text_area :body, class: "min-h-40 border border-gray-300 rounded py-1.5 px-3.5 text-sm outline-none focus:border-gray-500 hover:border-gray-400",
              placeholder: "Nhập nội dung đánh giá" %>
            </div>

            <div>
              <%= f.submit "Gửi đánh giá", class: "cursor-pointer w-full bg-indigo-600 hover:bg-indigo-700 text-white font-semibold py-2 px-4 rounded-md" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</article>
