<div class='temp_home'>
  <div class="h-[25px]"></div>
  <article class="listing app-listing">
    <style>
      .listingHeading:before {
        background-image:
            url(https://www.weddingwire.com/assets/svg/source/vendors/heading-mask-diagonal.svg),
            url(https://www.weddingwire.com/assets/img/directory/headings/bg_directory-hero-wedding-vendors.jpg);
        }
    </style>
    <header class="listingHeading app-heading">
      <h1 class="listingHeading__title">Wedding Vendors</h1>
      <div class="listingHeading__searcher app-searcher-tracking">
        <form class="searcherOpenModal app-searcher-modal suggestCategory" method="get" role="search" action="https://www.weddingwire.com/shared/search">
          <input type="hidden" name="id_grupo" value="2">
          <input type="hidden" name="id_sector" value="">
          <input type="hidden" name="id_region" value="400">
          <input type="hidden" name="id_provincia" value="10064">
          <input type="hidden" name="id_poblacion" value="">
          <input type="hidden" name="id_geozona" value="">
          <input type="hidden" name="geoloc" value="0">
          <input type="hidden" name="lat">
          <input type="hidden" name="long">
          <input type="hidden" name="isBrowseByImagesEnabled" value="">
          <i class="svgIcon app-svg-async svgIcon__search searcherOpenModal__icon">
            <%= inline_svg_tag "svg/search.svg", size: "16" %>
          </i>
          <div class="searcherOpenModal__inputsContainer app-searcher-inputs-container">
            <div class="searcherOpenModal__category app-filter-searcher-input">
              <input type="hidden" name="txtStrSearch" value="Wedding Vendors" data-last-value="Wedding Vendors">
              <span class="searcherOpenModal__input  app-searcher-category-input-tracking" data-last-value="Wedding Vendors">Wedding Vendors</span>
            </div>
            <div class="searcherOpenModal__location app-searcher-location-input">
              <input type="hidden" name="txtLocSearch" data-last-value="Birmingham" value="Birmingham">
              <span class="searcherOpenModal__input  app-searcher-location-input-tracking" data-last-value="Birmingham">
                Birmingham            </span>
            </div>
          </div>
        </form>

        <form class="searcher app-searcher suggestCategory" method="get" role="search" action="https://www.weddingwire.com/shared/search">
          <input type="hidden" name="id_grupo" value="2">
          <input type="hidden" name="id_sector" value="">
          <input type="hidden" name="id_region" value="400">
          <input type="hidden" name="id_provincia" value="10064">
          <input type="hidden" name="id_poblacion" value="">
          <input type="hidden" name="id_geozona" value="">
          <input type="hidden" name="geoloc" value="0">
          <input type="hidden" name="latitude">
          <input type="hidden" name="longitude">
          <input type="hidden" name="isBrowseByImagesEnabled" value="">
          <div class="searcher__category app-filter-searcher-field " data-bound-classes=",.searcher__category">
            <i class="svgIcon app-svg-async svgIcon__search searcher__categoryIcon">
              <%= inline_svg_tag "svg/search.svg", size: "18" %>
            </i>                <input class="searcher__input app-filter-searcher-input app-searcher-category-input-tracking" type="text" value="Wedding Vendors" name="txtStrSearch" data-last-value="Wedding Vendors" data-placeholder-default="Search for vendors" data-placeholder-focused="Search for vendors" aria-label="Search for vendors" placeholder="Search for vendors" autocomplete="off">
            <span class="searcher__categoryReset app-searcher-reset-category">
              <i class="svgIcon app-svg-async svgIcon__close searcher__categoryResetIcon" data-svg="https://cdn1.weddingwire.com/assets/svg/optimized/_common/close.svg" data-svg-lazyload="1" data-loaded="true"><svg viewBox="0 0 26 26"><path d="M12.983 10.862L23.405.439l2.122 2.122-10.423 10.422 10.423 10.422-2.122 2.122-10.422-10.423L2.561 25.527.439 23.405l10.423-10.422L.439 2.561 2.561.439l10.422 10.423z" fill-rule="nonzero"></path></svg></i>            </span>
            <div class="searcher__placeholder app-filter-searcher-list"></div>
          </div>
          <div class="searcher__location">
            <span class="searcher__locationFixedText">in</span>
            <input class="searcher__input app-searcher-location-input app-searcher-location-input-tracking" type="text" data-last-value="Birmingham" data-placeholder-default="Location" placeholder="Location" data-placeholder-focused="Location" aria-label="Location" value="" name="txtLocSearch" autocomplete="off">
            <span data-href="https://www.weddingwire.com/shared/search?isClearGeo=1&amp;group_id=2" class="searcher__locationReset app-searcher-reset-location">
              <i class="svgIcon app-svg-async svgIcon__close searcher__locationResetIcon" data-svg="https://cdn1.weddingwire.com/assets/svg/optimized/_common/close.svg" data-svg-lazyload="1" data-loaded="true"><svg viewBox="0 0 26 26"><path d="M12.983 10.862L23.405.439l2.122 2.122-10.423 10.422 10.423 10.422-2.122 2.122-10.422-10.423L2.561 25.527.439 23.405l10.423-10.422L.439 2.561 2.561.439l10.422 10.423z" fill-rule="nonzero"></path></svg></i>            </span>
            <span class="searcher__locationReset app-searcher-reset-location">
              <i class="svgIcon app-svg-async svgIcon__close searcher__locationResetIcon" data-svg="https://cdn1.weddingwire.com/assets/svg/optimized/_common/close.svg" data-svg-lazyload="1" data-loaded="true"><svg viewBox="0 0 26 26"><path d="M12.983 10.862L23.405.439l2.122 2.122-10.423 10.422 10.423 10.422-2.122 2.122-10.422-10.423L2.561 25.527.439 23.405l10.423-10.422L.439 2.561 2.561.439l10.422 10.423z" fill-rule="nonzero"></path></svg></i>        </span>
            <div class="searcher__placeholder app-searcher-location-placeholder"></div>
          </div>
          <button type="submit" class="searcher__submit app-searcher-submit-tracking">
            Search            </button>
        </form>
      </div>
    </header>
    <aside class="sidebar app-vendor-listing-sidebar ">
      <section id="topbar-filters-menu" class="listingFilters app-listing-filters-wrapper   " role="navigation">
        <div class="listingFilters__content ">
          <div class="listingFilters__contentHeader">
            <span>Filter</span>
            <button class="app-filter-menu-close ">
              <i class="svgIcon app-svg-async svgIcon__close listingFilters__contentHeaderClose" data-svg="https://cdn1.weddingwire.com/assets/svg/optimized/_common/close.svg" data-svg-lazyload="1"></i>            </button>
          </div>
          <div class="listingFilters__contentBody app-listing-filters" data-bound-classes=",[data-role=&quot;provinceFilterSearcher&quot;],[data-role=&quot;cityFilterSearcher&quot;]">
            <div class="filterHistory ">
              <div class="filterHistory__header">
              </div>
            </div>
            <form class="app-listing-filter-form" name="frmSearchFilters" method="GET" action="https://www.weddingwire.com/search-filters.php" autocomplete="off">
              <input type="hidden" name="id_grupo" value="2">
              <input type="hidden" name="id_sector" value="">
              <input type="hidden" name="id_region" value="400">
              <input type="hidden" name="id_provincia" value="10064">
              <input type="hidden" name="id_geozona" value="">
              <input type="hidden" name="id_poblacion" value="">
              <input type="hidden" name="distance" value="">
              <input type="hidden" name="lat" value="">
              <input type="hidden" name="long" value="">
              <input type="hidden" name="showmode" value="list">
              <input type="hidden" name="page" value="1">
              <input type="hidden" name="userSearch" value="1">
              <input type="hidden" name="exclFields" value="">
              <input type="hidden" name="txtStrSearch" value="">
              <input type="hidden" name="isBroadSearch" value="">
              <div class="hidden filterOptions  filterOptions--location app-listing-filters-location app-listing-filters-options " data-filter-name="location">
                <fieldset>
                  <div class="filterOptions__header app-listing-filters-collapse-button">
                    <button class="filterOptions__title" aria-controls="app-filters-location" aria-expanded="true" tabindex="0">
                      <i class="svgIcon app-svg-async svgIcon__angleDown filterOptions__icon" data-svg="https://cdn1.weddingwire.com/assets/svg/optimized/_common/angleDown.svg" data-svg-lazyload="1" data-loaded="true"><svg viewBox="0 0 18 18"><path d="M16.9 5.6c-.2-.2-.5-.2-.7 0L9 12.8 1.8 5.6c-.2-.2-.5-.2-.7 0s-.2.5 0 .7l7.5 7.5v.1c.1.1.3.1.4.1.1 0 .3 0 .4-.1v-.1l7.5-7.5c.2-.2.2-.5 0-.7z"></path></svg></i>                                <span id="app-filter-location-searcher-label">
                        City/Town                </span>
                    </button>
                    <div class="filterOptions__count app-listing-filters-count"></div>
                  </div>
                  <div class="app-listing-filters-collapse-content">
                    <div class="filterOptions__list" id="app-filters-location">
                      <div class="filterOptions__item filterOptions--city app-filter-searcher-field" data-filter-name="city">
                        <div class="filterSearcher" data-role="cityFilterSearcher">
                          <label class="filterSearcher__body">
                            <input class="filterSearcher__input app-listing-filter-city app-filter-searcher-input" type="text" placeholder="Search city" aria-label="Search city" autocomplete="no" aria-autocomplete="list" aria-controls="app-filter-city-searcher-list" aria-haspopup="listbox" value="" data-value="">
                          </label>
                          <ul class="filterSearcher__list app-listing-filter-city-list app-filter-searcher-list" role="listbox" aria-labelledby="app-filter-city-searcher-label" id="app-filter-city-searcher-list">
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Birmingham" data-id="1475840" role="option" tabindex="0" id="app-filter-city-option1475840">
                              Birmingham                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Huntsville" data-id="1476058" role="option" tabindex="0" id="app-filter-city-option1476058">
                              Huntsville                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Madison" data-id="1476045" role="option" tabindex="0" id="app-filter-city-option1476045">
                              Madison                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Tuscaloosa" data-id="1475914" role="option" tabindex="0" id="app-filter-city-option1475914">
                              Tuscaloosa                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Athens" data-id="1475998" role="option" tabindex="0" id="app-filter-city-option1475998">
                              Athens                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Cullman" data-id="1475761" role="option" tabindex="0" id="app-filter-city-option1475761">
                              Cullman                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Pelham" data-id="1475801" role="option" tabindex="0" id="app-filter-city-option1475801">
                              Pelham                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Florence" data-id="1476010" role="option" tabindex="0" id="app-filter-city-option1476010">
                              Florence                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Bessemer" data-id="1475737" role="option" tabindex="0" id="app-filter-city-option1475737">
                              Bessemer                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Hartselle" data-id="1476015" role="option" tabindex="0" id="app-filter-city-option1476015">
                              Hartselle                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Alabaster" data-id="1475731" role="option" tabindex="0" id="app-filter-city-option1475731">
                              Alabaster                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Gadsden" data-id="1476082" role="option" tabindex="0" id="app-filter-city-option1476082">
                              Gadsden                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Helena" data-id="1475779" role="option" tabindex="0" id="app-filter-city-option1475779">
                              Helena                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Northport" data-id="1475942" role="option" tabindex="0" id="app-filter-city-option1475942">
                              Northport                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Decatur" data-id="1475993" role="option" tabindex="0" id="app-filter-city-option1475993">
                              Decatur                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Mc Calla" data-id="1475790" role="option" tabindex="0" id="app-filter-city-option1475790">
                              Mc Calla                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Trussville" data-id="1475826" role="option" tabindex="0" id="app-filter-city-option1475826">
                              Trussville                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Anniston" data-id="1476122" role="option" tabindex="0" id="app-filter-city-option1476122">
                              Anniston                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Attalla" data-id="1476093" role="option" tabindex="0" id="app-filter-city-option1476093">
                              Attalla                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Jasper" data-id="1475955" role="option" tabindex="0" id="app-filter-city-option1475955">
                              Jasper                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Albertville" data-id="1476089" role="option" tabindex="0" id="app-filter-city-option1476089">
                              Albertville                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Clanton" data-id="1475753" role="option" tabindex="0" id="app-filter-city-option1475753">
                              Clanton                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Gardendale" data-id="1475772" role="option" tabindex="0" id="app-filter-city-option1475772">
                              Gardendale                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Jacksonville" data-id="1476138" role="option" tabindex="0" id="app-filter-city-option1476138">
                              Jacksonville                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Montevallo" data-id="1475793" role="option" tabindex="0" id="app-filter-city-option1475793">
                              Montevallo                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Muscle Shoals" data-id="1476028" role="option" tabindex="0" id="app-filter-city-option1476028">
                              Muscle Shoals                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Oxford" data-id="1476124" role="option" tabindex="0" id="app-filter-city-option1476124">
                              Oxford                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Calera" data-id="1475748" role="option" tabindex="0" id="app-filter-city-option1475748">
                              Calera                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Chelsea" data-id="1475751" role="option" tabindex="0" id="app-filter-city-option1475751">
                              Chelsea                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Columbiana" data-id="1475757" role="option" tabindex="0" id="app-filter-city-option1475757">
                              Columbiana                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Russellville" data-id="1476025" role="option" tabindex="0" id="app-filter-city-option1476025">
                              Russellville                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Springville" data-id="1475816" role="option" tabindex="0" id="app-filter-city-option1475816">
                              Springville                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Sylacauga" data-id="1475820" role="option" tabindex="0" id="app-filter-city-option1475820">
                              Sylacauga                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Adamsville" data-id="1475729" role="option" tabindex="0" id="app-filter-city-option1475729">
                              Adamsville                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Ardmore" data-id="1476037" role="option" tabindex="0" id="app-filter-city-option1476037">
                              Ardmore                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Boaz" data-id="1476094" role="option" tabindex="0" id="app-filter-city-option1476094">
                              Boaz                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Harvest" data-id="1476042" role="option" tabindex="0" id="app-filter-city-option1476042">
                              Harvest                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Heflin" data-id="1459236" role="option" tabindex="0" id="app-filter-city-option1459236">
                              Heflin                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Irondale" data-id="1496385" role="option" tabindex="0" id="app-filter-city-option1496385">
                              Irondale                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Leeds" data-id="1475786" role="option" tabindex="0" id="app-filter-city-option1475786">
                              Leeds                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Maylene" data-id="1475792" role="option" tabindex="0" id="app-filter-city-option1475792">
                              Maylene                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Meridianville" data-id="1476048" role="option" tabindex="0" id="app-filter-city-option1476048">
                              Meridianville                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Oneonta" data-id="1475799" role="option" tabindex="0" id="app-filter-city-option1475799">
                              Oneonta                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Sterrett" data-id="1475817" role="option" tabindex="0" id="app-filter-city-option1475817">
                              Sterrett                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Tuscumbia" data-id="1476034" role="option" tabindex="0" id="app-filter-city-option1476034">
                              Tuscumbia                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Alpine" data-id="1475733" role="option" tabindex="0" id="app-filter-city-option1475733">
                              Alpine                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Altoona" data-id="1476091" role="option" tabindex="0" id="app-filter-city-option1476091">
                              Altoona                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Brownsboro" data-id="1476038" role="option" tabindex="0" id="app-filter-city-option1476038">
                              Brownsboro                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Cottondale" data-id="1475931" role="option" tabindex="0" id="app-filter-city-option1475931">
                              Cottondale                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Fairfield" data-id="1475769" role="option" tabindex="0" id="app-filter-city-option1475769">
                              Fairfield                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Guntersville" data-id="1476109" role="option" tabindex="0" id="app-filter-city-option1476109">
                              Guntersville                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Hayden" data-id="1475778" role="option" tabindex="0" id="app-filter-city-option1475778">
                              Hayden                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Hazel Green" data-id="1476043" role="option" tabindex="0" id="app-filter-city-option1476043">
                              Hazel Green                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Leesburg" data-id="1476113" role="option" tabindex="0" id="app-filter-city-option1476113">
                              Leesburg                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Moody" data-id="1475728" role="option" tabindex="0" id="app-filter-city-option1475728">
                              Moody                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Moulton" data-id="1476022" role="option" tabindex="0" id="app-filter-city-option1476022">
                              Moulton                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Mount Olive" data-id="1475795" role="option" tabindex="0" id="app-filter-city-option1475795">
                              Mount Olive                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Owens Cross Roads" data-id="1476052" role="option" tabindex="0" id="app-filter-city-option1476052">
                              Owens Cross Roads                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Pinson" data-id="1475803" role="option" tabindex="0" id="app-filter-city-option1475803">
                              Pinson                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Ranburne" data-id="1459238" role="option" tabindex="0" id="app-filter-city-option1459238">
                              Ranburne                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Roanoke" data-id="1459239" role="option" tabindex="0" id="app-filter-city-option1459239">
                              Roanoke                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Toney" data-id="1476056" role="option" tabindex="0" id="app-filter-city-option1476056">
                              Toney                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="West Blocton" data-id="1475835" role="option" tabindex="0" id="app-filter-city-option1475835">
                              West Blocton                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Alexandria" data-id="1476130" role="option" tabindex="0" id="app-filter-city-option1476130">
                              Alexandria                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Aliceville" data-id="1475923" role="option" tabindex="0" id="app-filter-city-option1475923">
                              Aliceville                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Arab" data-id="1475735" role="option" tabindex="0" id="app-filter-city-option1475735">
                              Arab                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Ashville" data-id="1476092" role="option" tabindex="0" id="app-filter-city-option1476092">
                              Ashville                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Butler" data-id="1481652" role="option" tabindex="0" id="app-filter-city-option1481652">
                              Butler                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Centre" data-id="1476097" role="option" tabindex="0" id="app-filter-city-option1476097">
                              Centre                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Centreville" data-id="1475750" role="option" tabindex="0" id="app-filter-city-option1475750">
                              Centreville                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Clay" data-id="1475755" role="option" tabindex="0" id="app-filter-city-option1475755">
                              Clay                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Cleveland" data-id="1475756" role="option" tabindex="0" id="app-filter-city-option1475756">
                              Cleveland                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Coker" data-id="1475930" role="option" tabindex="0" id="app-filter-city-option1475930">
                              Coker                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Delta" data-id="1476136" role="option" tabindex="0" id="app-filter-city-option1476136">
                              Delta                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Eutaw" data-id="1475936" role="option" tabindex="0" id="app-filter-city-option1475936">
                              Eutaw                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Fayette" data-id="1475971" role="option" tabindex="0" id="app-filter-city-option1475971">
                              Fayette                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Fultondale" data-id="1475770" role="option" tabindex="0" id="app-filter-city-option1475770">
                              Fultondale                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Grant" data-id="1476040" role="option" tabindex="0" id="app-filter-city-option1476040">
                              Grant                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Greensboro" data-id="1476149" role="option" tabindex="0" id="app-filter-city-option1476149">
                              Greensboro                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Haleyville" data-id="1475976" role="option" tabindex="0" id="app-filter-city-option1475976">
                              Haleyville                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Hamilton" data-id="1475977" role="option" tabindex="0" id="app-filter-city-option1475977">
                              Hamilton                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Hanceville" data-id="1475776" role="option" tabindex="0" id="app-filter-city-option1475776">
                              Hanceville                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Horton" data-id="1476111" role="option" tabindex="0" id="app-filter-city-option1476111">
                              Horton                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Jemison" data-id="1475782" role="option" tabindex="0" id="app-filter-city-option1475782">
                              Jemison                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Lester" data-id="1476019" role="option" tabindex="0" id="app-filter-city-option1476019">
                              Lester                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Lincoln" data-id="1475787" role="option" tabindex="0" id="app-filter-city-option1475787">
                              Lincoln                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Maplesville" data-id="1476150" role="option" tabindex="0" id="app-filter-city-option1476150">
                              Maplesville                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Mooresville" data-id="1476021" role="option" tabindex="0" id="app-filter-city-option1476021">
                              Mooresville                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="New Hope" data-id="1476049" role="option" tabindex="0" id="app-filter-city-option1476049">
                              New Hope                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="New Market" data-id="1476050" role="option" tabindex="0" id="app-filter-city-option1476050">
                              New Market                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Odenville" data-id="1475798" role="option" tabindex="0" id="app-filter-city-option1475798">
                              Odenville                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Ohatchee" data-id="1476142" role="option" tabindex="0" id="app-filter-city-option1476142">
                              Ohatchee                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Rogersville" data-id="1476024" role="option" tabindex="0" id="app-filter-city-option1476024">
                              Rogersville                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Sawyerville" data-id="1476152" role="option" tabindex="0" id="app-filter-city-option1476152">
                              Sawyerville                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Shannon" data-id="1475813" role="option" tabindex="0" id="app-filter-city-option1475813">
                              Shannon                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Sheffield" data-id="1476027" role="option" tabindex="0" id="app-filter-city-option1476027">
                              Sheffield                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Shelby" data-id="1475814" role="option" tabindex="0" id="app-filter-city-option1475814">
                              Shelby                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Somerville" data-id="1476030" role="option" tabindex="0" id="app-filter-city-option1476030">
                              Somerville                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Trinity" data-id="1476033" role="option" tabindex="0" id="app-filter-city-option1476033">
                              Trinity                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Vance" data-id="1475953" role="option" tabindex="0" id="app-filter-city-option1475953">
                              Vance                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Vandiver" data-id="1475828" role="option" tabindex="0" id="app-filter-city-option1475828">
                              Vandiver                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Vernon" data-id="1481650" role="option" tabindex="0" id="app-filter-city-option1481650">
                              Vernon                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Wilsonville" data-id="1475837" role="option" tabindex="0" id="app-filter-city-option1475837">
                              Wilsonville                        </li>
                            <li class="filterSearcher__item app-listing-filter-city-item app-filter-searcher-item" data-text="Woodland" data-id="1459242" role="option" tabindex="0" id="app-filter-city-option1459242">
                              Woodland                        </li>
                            <li class="filterSearcher__item filterSearcher__item--empty app-listing-filter-city-list-zero hidden">
                              No results                </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </form>
            <div class="listingFilters__button app-filter-actions listingFilters__button--clearClose">
              <button class="filterHistory__reset app-filter-history-remove-all disabled" data-is-filters-button-enabled="1" role="button">
                Clear filters
              </button>
              <button type="button" class="button button--block button--primary filterAside__close app-filter-menu-close " role="button">
                View results (80)
              </button>
            </div>
          </div>
        </div>
        <div class="listingFilters__backdrop app-filter-menu-close"></div>
      </section>
    </aside>
    <section class="listingContent app-listing-global-container app-ec-list vendor-list app-internal-tracking-page  gtm-impression-list " data-it-page="1" data-ec-list="standard" data-list-type="Catalog" data-list-sub-type="Standard Directory">
      <div class="stickyFilterButtonBarMobile  app-sticky-filter-button-bar-mobile   stickyFilterButtonBarMobile--vendors  ">
        <div class="filterButtonBar app-filter-menu-type      filterButtonBar--vendors    " data-show-mode="list">
          <h2 class="filterButtonBar__results app-number-of-results" data-num-results="80">
            <%= @pagy.count %> results
          </h2>
        </div>
      </div>

      <div class="services">
        <% @services.each do |service| %>
          <div class="js__card js__card-full-web pr-container re__card-full  re__vip-normal">
            <%= link_to service_path(service), class: "js__product-link-for-product-id" do %>
              <div class="re__card-image">
                <span>
                  <% if service.first_image_thumb_of_first_gallery.present? %>
                    <%= image_tag service.first_image_thumb_of_first_gallery(:medium) %>
                  <% end %>
                </span>
                <div class="re__clear"></div>
                <div class="re__card-image-feature">
                  <span><%= service.total_items_count %></span>
                  <%= inline_svg_tag "svg/image.svg", size: "20" %>
                </div>
              </div>
              <div class="re__card-info" title="Bán nhà mới tinh tại phường Hà Lầm, TP Hạ Long 0968 484 ***">
                <div class="re__card-info-content">
                  <h3 class="re__card-title">
                    <span class="pr-title js__card-title" product-title="">
                      <%= service.name %>
                    </span>
                  </h3>
                  <div>
                    <div class="re__card-location">
                      <i class="re__icon-location--sm"></i>
                      <span><%= "#{ service.first_or_main_address&.district }, #{ service.first_or_main_address&.province }" if service.first_or_main_address.present? %></span>
                    </div>
                    <div class="re__clear"></div>
                  </div>
                  <div>
                    <div class="re__card-location">
                      <i class="re__icon-location--sm"></i>
                      <span>
                        <%= truncate(service.description, length: 150) %>
                      </span>
                    </div>
                    <div class="re__clear"></div>
                  </div>
                </div>
                <div class="re__card-contact">
                  <div class="re__card-published-info" title="">
                    <div class="re__card-published-info-published-at">
                      <span class="re__card-published-info-published-at">
                        <%= "#{number_to_currency service.pricing, unit: "đ", precision: 0, format: "%n %u"} - Mức giá phổ biến" if service.pricing.present? %>
                      </span>
                    </div>
                  </div>
                  <div class="re__card-contact-button">
                    <span class="js__marking-product re__btn re__btn-se-border--sm re__btn-icon--sm" data-marked-product-info-as-json="{&quot;documentId&quot;:&quot;39738594&quot;,&quot;productId&quot;:39738594,&quot;avatarinfowap&quot;:&quot;https://file4.batdongsan.com.vn/crop/200x140/2024/05/03/20240503102933-9816_wm.jpg&quot;,&quot;title&quot;:&quot;Bán nhà mới tinh tại phường Hà Lầm, TP Hạ Long 0968484869&quot;,&quot;url&quot;:&quot;/ban-nha-rieng-phuong-ha-lam/ban-moi-tinh-tai-tp-long-pr39738594&quot;}" aria-label="Bấm để lưu tin" data-microtip-position="bottom" role="tooltip" tracking-id="save-listing" tracking-label="loc=SRP For Sale,status=save" title="">
                      <%= inline_svg_tag "svg/heart.svg", size: "20" %>
                    </span>
                  </div>
                  <div class="re__clear"></div>
                </div>
              </div>
              <div class="re__clear"></div>
            <% end %>
          </div>
        <% end %>

      </div>

      <%== pagy_nav(@pagy) %>
    </section>
  </article>
</div>
