<div id="<%= dom_id priority_boosting %>">
  <p>
    <strong>Service:</strong>
    <%= priority_boosting.service_id %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= priority_boosting.level %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= priority_boosting.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= priority_boosting.end_time %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= priority_boosting.status %>
  </p>

</div>
