<div class="flex justify-center md:pt-6">
  <div class="w-full md:w-[696px] flex flex-col gap-4">
    <div class="p-6 bg-white rounded shadow">
      <%= form_with(model: @priority_boosting, url: vendor_service_boosting_path(@service, @priority_boosting), html: {class: "space-y-4"}, data:{controller: "vendor-boosting", vendor_boosting_balance_value: current_vendor.balance}) do |form| %>
        <h3 class="text-2xl font-semibold">Đẩy top tìm kiếm</h3>

        <div class="flex gap-3 mt-3">
          <div
              class="py-3 px-4 border border-[rgb(204,204,204)] rounded flex-1 aria-checked:bg-[rgb(232,254,255)] aria-checked:shadow-md aria-checked:border-[rgb(0,124,128)]"
              aria-checked="<%= @priority_boosting.level == 1 %>"
            data-amount-param="10000"
            data-level-param="1">
            <p class="font-semibold text-[#009ba1]">VIP Bạc</p>
            <p>10,000 đ</p>
            <p class="text-sm">Hiển thị dưới VIP Vàng</p>
          </div>
          <div
              class="py-3 px-4 border border-[rgb(204,204,204)] rounded flex-1 aria-checked:bg-[rgb(232,254,255)] aria-checked:shadow-md aria-checked:border-[rgb(0,124,128)]"
              aria-checked="<%= @priority_boosting.level == 2 %>"
            data-amount-param="20000"
            data-level-param="2">
            <p class="font-semibold text-[#e3aa49]">VIP Vàng</p>
            <p>20,000 đ</p>
            <p class="text-sm">Hiển thị dưới VIP Kim Cương</p>
          </div>
          <div
              class="py-3 px-4 border border-[rgb(204,204,204)] rounded flex-1 aria-checked:bg-[rgb(232,254,255)] aria-checked:shadow-md aria-checked:border-[rgb(0,124,128)]"
              aria-checked="<%= @priority_boosting.level == 3 %>"
            data-amount-param="40000"
            data-level-param="3">
            <p class="font-semibold text-[#e03c31]">VIP Kim Cương</p>
            <p>40,000 đ</p>
            <p class="text-sm">Đứng đầu kết quả tìm kiếm</p>
          </div>
        </div>

        <div class="flex gap-2 items-center">
          <%= form.check_box :now, checked: true, data:{action: "change->vendor-boosting#toggleStartTime"} %>
          <%= form.label :now, "Đẩy ngay" %>
        </div>

        <div>
          <div>
            <%= form.label :start_time, class: "font-semibold text-sm" do %>
              Hẹn giờ bắt đầu đẩy top
            <% end %>
          </div>
          <%= hidden_field_tag :time_zone %>
          <%= form.datetime_field :start_time, value: @priority_boosting.start_time.in_time_zone(current_vendor.time_zone), disabled: true, data:{vendor_boosting_target: "startTime"}, class: "border border-gray-300 rounded py-1.5 px-3.5 text-sm outline-none focus:border-gray-500 hover:border-gray-400" %>
        </div>

        <div class="flex justify-end mt-3">
          <%= form.submit "Thanh toán", class: "relative rounded cursor-pointer whitespace-nowrap w-auto tracking-[0.2px] bg-[rgb(224,60,49)] px-3 py-1.5 text-white disabled:opacity-40 disabled:cursor-default" %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<br>

<div>
  <%= link_to "Back to priority boostings", vendor_service_boostings_path %>
</div>
