<article id="<%= dom_id idea %>">
  <header class="mb-6">
    <div class="articlesArticleHeading__category">
      <p class="articlesArticleHeading__categoryName">
        <%= idea.topic&.name&.upcase %>
      </p>
    </div>
    <h1 class="articlesArticleHeading__title">
      <%= idea.title %>
    </h1>
    <p class="articlesArticleHeading__description">
      <%= idea.description %>
    </p>
    <div class="flex gap-8 items-center">
      <div class="articlesArticleHeading__author">
        <div class="articlesArticleHeading__authorImage">
          <% if idea.vendor&.avatar.attached? %>
            <%= image_tag idea.vendor&.avatar&.variant(:thumb), class: "w-full h-full object-cover rounded-full" %>
          <% else %>
            <div class="absolute inset-0 flex items-center justify-center bg-gray-400 text-white text-xl font-semibold w-full h-full">
              <%= idea.vendor&.name[0]&.titleize || "A" %>
            </div>
          <% end %>
        </div>
        <p>
          <%= idea.vendor&.name || "Admin" %>
        </p>
      </div>
      <div class="flex items-center">
        <p class="articlesArticleHeading__date text-sm">
          <%= idea.updated_at.strftime("%B %d, %Y") %>
        </p>
        <p class="text-gray-400 flex items-center gap-1 text-sm">
          <span>
            <i data-lucide="eye"></i>
          </span>
          <%= idea.views %>
        </p>
      </div>
    </div>
  </header>
</article>

<div>
  <% if idea.main_image.attached? %>
    <div class="relative flex rounded justify-center mb-6 overflow-hidden">
      <%= image_tag idea.main_image, class: "w-full max-w-full h-auto" %>
    </div>
  <% end %>
  <%= idea.content %>
</div>
