<div id="<%= dom_id idea %>">
  <p>
    <strong>Title:</strong>
    <%= idea.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= idea.description %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= idea.content %>
  </p>

  <p>
    <strong>Vendor:</strong>
    <%= idea.vendor_id %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= idea.topic_id %>
  </p>

</div>
