<% breadcrumbs = [
  {name: "Weddings", path: root_path},
  {name: "Wedding ideas"},
] %>
<%= render 'shared/breadcrumb', breadcrumbs: %>

<article class="listing">
  <header class="listingHeading">
    <h1 class="font-extrabold text-3xl md:text-4xl mb-5">Ý tưởng cho đám cưới</h1>
    <p>Lên kế hoạch cho một đám cưới thực sự là một việc rất khó. Chúng tôi cung cấp chuyên môn của mình để giúp quá trình lên kế hoạch trở nên thú vị và không căng thẳng cho bạn từ đầu đến cuối. Từ cảm hứng trang trí đến các lời thề, chúng tôi đề cập đến tất cả trong các bài viết của mình.</p>
    <div class="flex flex-wrap mt-8 gap-y-4 justify-between">
      <% cache [ @topic_categories.map(&:id), @topic_categories.maximum(:updated_at) ] do %>
        <% @topic_categories.each do |item| %>

          <% cache item do %>
            <%= link_to topic_category_path(item), class: "flex-1 block px-1 text-sm hover:text-[#FCB796] cursor-pointer text-center lg:w-[12.5%] xl:w-[10%]" do %>
              <div class="max-w-16 max-h-16 lg:max-w-20 lg:max-h-20 rounded-full mb-2 mx-auto overflow-hidden">
                <%= image_tag item.image.variant(:thumb), class: "w-full h-full object-cover" if item.image.attached? %>
              </div>
              <div>
                <p><%= item.name %></p>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </header>

  <h2 class="listingArticlesTitle text-xl md:text-2xl font-semibold break-words">Các bài viết mới nhất</h2>

  <section class="listingArticles">
    <div id="ideas" class="grid gap-y-6 gap-x-10 mb-8 grid-cols-[repeat(auto-fill,minmax(310px,1fr))]">
      <%= render @ideas, cached: true %>
    </div>

    <% if @pagy.next.present? %>
      <%= turbo_frame_tag :ideas_pagination,
                          loading: :lazy,
                          src: wedding_ideas_root_path(format: :turbo_stream, page: @pagy.next) do %>
        <p class="text-center">
          Loading more ideas...
        </p>
      <% end %>
    <% end %>
  </section>
</article>
