<div id="<%= dom_id discussion %>">
  <p>
    <strong>Forum:</strong>
    <%= discussion.forum_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= discussion.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= discussion.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= discussion.body %>
  </p>

</div>
