<p style="color: green"><%= notice %></p>

<%= render @discussion %>

<div>
  <%= link_to "Edit this discussion", edit_forum_discussion_path(@discussion.forum, @discussion) %> |
  <%= link_to "Back to discussions", forum_discussions_path %>

  <%= button_to "Destroy this discussion", forum_discussion_path(@discussion.forum, @discussion), method: :delete %>
</div>
