<%= form_with(model: topic_category) do |form| %>
  <% if topic_category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(topic_category.errors.count, "error") %> prohibited this topic_category from being saved:</h2>

      <ul>
        <% topic_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

    <div class="flex items-start flex-col justify-start">
      <%= f.label :image, class: "text-sm text-gray-700 mr-2" %>
      <%= f.file_field :image, accept: "image/png,image/jpg,image/jpeg" , class: "w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-500" %>
    </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
