<%= form_with model: [ :vendor, service ], data: {controller: "form", action: "turbo:submit-end->form#reset"} do |form| %>
  <% if service.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :pricing, style: "display: block" %>
    <%= form.text_field :pricing %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
