<div class="mb-4 flex flex-col gap-2" id="action-toolbar">
  <p class="flex items-center gap-2">
    <span>Trạng thái:</span>
    <span class="inline-block whitespace-nowrap px-2 py-0.5 text-xs text-center font-bold rounded-full <%= service.published? ? "text-green-400 bg-green-100" : "text-red-400 bg-red-100" %>">
      <%= service.published? ? "Công khai" : "Ẩn" %>
    </span>
  </p>
  <div class="flex justify-between items-center gap-3 flex-wrap">
    <div class="flex flex-row gap-2">
      <div class="relative flex justify-center items-center">
        <% if service.published? %>
          <%= link_to unpublish_vendor_service_path(service), data: { turbo_method: :post }, class: "peer button button--tertiary" do %>
            <%= inline_svg_tag "svg/eye-off.svg", size: "18" %>
          <% end %>
          <span class="peer-hover:visible peer-hover:opacity-100 invisible opacity-0 absolute bottom-full left-1/2 transform -translate-x-1/2 px-2 py-1 bg-black text-white text-sm rounded whitespace-nowrap z-10 transition-opacity duration-200 ease-in-out">
            Ẩn dịch vụ
          </span>
        <% else %>
          <%= link_to publish_vendor_service_path(service), data: { turbo_method: :post }, class: "peer button button--tertiary" do %>
            <%= inline_svg_tag "svg/eye.svg", size: "18" %>
          <% end %>
          <span class="peer-hover:visible peer-hover:opacity-100 invisible opacity-0 absolute bottom-full left-1/2 transform -translate-x-1/2 px-2 py-1 bg-black text-white text-sm rounded whitespace-nowrap z-10 transition-opacity duration-200 ease-in-out">
            Công khai dịch vụ
          </span>
        <% end %>
      </div>

      <div class="relative flex justify-center items-center">
        <%= link_to edit_vendor_service_path(service), class: "peer button button--tertiary" do %>
          <%= inline_svg_tag "svg/settings.svg", size: "18" %>
        <% end %>
        <span class="peer-hover:visible peer-hover:opacity-100 invisible opacity-0 absolute bottom-full left-1/2 transform -translate-x-1/2 px-2 py-1 bg-black text-white text-sm rounded whitespace-nowrap z-10 transition-opacity duration-200 ease-in-out">
          Chỉnh sửa
        </span>
      </div>
      <div class="relative flex justify-center items-center">
        <%= button_to vendor_service_path(service), method: :delete, data: {turbo_confirm: "Bạn có chắc muốn xóa dịch vụ này?"}, form_class: "peer flex justify-center items-center", class: "button button--accent" do %>
          <%= inline_svg_tag "svg/trash-2.svg", size: "18" %>
        <% end %>
        <span class="peer-hover:visible peer-hover:opacity-100 invisible opacity-0 absolute bottom-full left-1/2 transform -translate-x-1/2 px-2 py-1 bg-black text-white text-sm rounded whitespace-nowrap z-10 transition-opacity duration-200 ease-in-out">
          Xóa
        </span>
      </div>
      <div class="relative flex justify-center items-center">
        <%= link_to new_vendor_service_boosting_path(service), class: "peer button button--primary flex justify-center items-center" do %>
          <%= inline_svg_tag "svg/arrow-up-from-line.svg", size: "18" %>
        <% end %>
        <span class="peer-hover:visible peer-hover:opacity-100 invisible opacity-0 absolute bottom-full left-1/2 transform -translate-x-1/2 px-2 py-1 bg-black text-white text-sm rounded whitespace-nowrap z-10 transition-opacity duration-200 ease-in-out">
          Đẩy top tìm kiếm
        </span>
      </div>
    </div>
    <%= link_to 'Lịch sử top tìm kiếm', vendor_service_boostings_path(service), class: "text-sm font-medium flex items-center justify-center gap-2 rounded cursor-pointer whitespace-nowrap mt-3 tracking-[0.2px] bg-white py-1.5 px-3 border border-gray-300 hover:bg-gray-100" %>
  </div>
</div>
