<article class="storefront">
  <aside class="storefrontHeadingWrap">
    <header class="storefrontHeading storefrontHeading--sticky app-storefront-sticky-heading storefrontHeading--fadein">
      <div class="storefrontHeading__titleWrap">
        <h1 class="storefrontHeading__title">Claire Taylor Photography</h1>
        <button type="button" class="storefrontHeading__action favoriteButton app-favorite-save-vendor" aria-label="Add vendor to favorites">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/></svg>
        </button>
      </div>
      <div class="storefrontHeading__content">
        <div class="storefrontHeadingReviews">
          <a class="storefrontHeading__item app-heading-quick-link app-heading-global-tracking" href="#reviews">
            <span class="storefrontHeadingReviews__stars">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-yellow-400">
                <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-yellow-400">
                <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-yellow-400">
                <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-yellow-400">
                <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-yellow-400">
                <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
              </svg>
              <span class="storefrontHeadingReviews__starsValue" aria-hidden="true">
                5.0 Tuyệt vời
              </span>
            </span>
          </a>
          <a class="storefrontHeading__item app-heading-quick-link app-heading-global-tracking" href="#reviews">
            <span class="storefrontHeadingReviews__count">
              11 nhận xét
            </span>
          </a>
        </div>
        <div class="storefrontHeadingLocation storefrontHeading__item">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin"><path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"/><circle cx="12" cy="10" r="3"/></svg>
          <div class="storefrontHeadingLocation__label app-heading-global-tracking">
            <a class="app-heading-quick-link" href="#map">
              Salt Lake City, UT
            </a>
          </div>
        </div>
        <div class="storefrontHeadingWebsite storefrontHeading__item">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-panels-top-left"><rect width="18" height="18" x="3" y="3" rx="2"/><path d="M3 9h18"/><path d="M9 21V9"/></svg>
          <a class="storefrontHeadingWebsite__label app-storefront-visit-website" href="https://www.clairetaylorphotography.com" target="_blank" rel="noopener noreferrer">
            Đến website
          </a>
        </div>
      </div>
      <div class="storefrontHeadingFaqs">
        <div class="storefrontHeadingFaqsCard">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-wallet"><path d="M19 7V4a1 1 0 0 0-1-1H5a2 2 0 0 0 0 4h15a1 1 0 0 1 1 1v4h-3a2 2 0 0 0 0 4h3a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1"/><path d="M3 5v14a2 2 0 0 0 2 2h15a1 1 0 0 0 1-1v-4"/></svg>
          <span class="storefrontHeadingFaqsCard__label">
            1,000,000 đ - Giá trung bình
          </span>
        </div>
      </div>
      <div class="storefrontHeadingLeads">
        <div class="inspireTrust">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-yellow-400">
            <path fill-rule="evenodd" d="M14.615 1.595a.75.75 0 0 1 .359.852L12.982 9.75h7.268a.75.75 0 0 1 .548 1.262l-10.5 11.25a.75.75 0 0 1-1.272-.71l1.992-7.302H3.75a.75.75 0 0 1-.548-1.262l10.5-11.25a.75.75 0 0 1 .913-.143Z" clip-rule="evenodd" />
          </svg>
          Responds within 24 hours
        </div>

        <button type="button" class="button button--primary storefrontHeading__lead app-default-simple-lead" aria-label="Request pricing">
          Request pricing
        </button>
      </div>
      <div class="storefrontHeadingFooterBox">
        <div class="storefrontHeadingVendorFeatures app-vendor-facts-feature">
        </div>
      </div>
    </header>
  </aside>
  <nav class="sectionNavigation storefrontNavigationStatic app-section-navigation-static  count4">
    <div class="storefrontNavigationStatic__slider scrollSnap">
      <ul class="scrollSnap__container">
        <li class="storefrontNavigationStatic__item scrollSnap__item sectionNavigation__itemRelevantInfo">
          <a class="storefrontNavigationStatic__anchor app-section-navigation-tracking app-section-navigation-anchor" href="#description">About</a>
        </li>
        <li class="storefrontNavigationStatic__item scrollSnap__item sectionNavigation__itemRelevantInfo">
          <a class="storefrontNavigationStatic__anchor app-section-navigation-tracking app-section-navigation-anchor" href="#faqs">FAQs</a>
        </li>
        <li class="storefrontNavigationStatic__item scrollSnap__item sectionNavigation__itemRelevantInfo">
          <a class="storefrontNavigationStatic__anchor app-section-navigation-tracking app-section-navigation-anchor" href="#reviews">
            Reviews <span class="storefrontNavigationStatic__count">11</span>
          </a>
        </li>
        <li class="storefrontNavigationStatic__item scrollSnap__item sectionNavigation__itemRelevantInfo">
          <a class="storefrontNavigationStatic__anchor app-section-navigation-tracking app-section-navigation-anchor" href="#map">
            Map
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <section class="storefrontMultiGallery app-gallery-slider app-multi-gallery app-gallery-fullScreen-global-tracking">
    <div class="storefrontMultiGallery__content" role="region" aria-label="Claire Taylor Photography Carrousel">
      <div class="storefrontMultiGallery__actions">
        <button type="button" class="storefrontBackLink app-storefront-breadcrumb-backLink "title="Your search">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
            <path fill-rule="evenodd" d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
          </svg>
        </button>
        <button type="button" class="storefrontMultiGallery__favorite  favoriteButton app-favorite-save-vendor" aria-label="Add vendor to favorites" aria-pressed="false">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
          </svg>
        </button>
      </div>
      <section class="storefrontMultiGallery__scroll app-gallery-slider-container app-scroll-snap-container ">

        <% service.first_four_items.each_with_index do |item, idx| %>
          <figure class="storefrontMultiGallery__item app-scroll-snap-item app-gallery-image-fullscreen-open app-gallery-global-tracking storefrontMultiGallery__item--<%= idx %>">
            <%= picture_tag item.variant(:medium),
                            image: {
                              size: "640x427", sizes: "(min-width: 1024px) 600px, (min-width: 480px) 400px, 100vw",
                              fetchpriority: (idx == 0 ? "high" : nil)
                            } %>
            <figcaption><%= service.name %></figcaption>
          </figure>
        <% end %>

        <%# This is to fill the empty space if the service has less than 4 items %>
        <% if service.first_four_items.size < 4 %>
          <% (4 - service.first_four_items.size).times do |idx| %>
            <figure class="storefrontMultiGallery__item app-scroll-snap-item app-gallery-image-fullscreen-open app-gallery-global-tracking storefrontMultiGallery__item--<%= 3 - idx %>">
              <%= picture_tag asset_path "empty-image-thumb.png", image: { size: "640x427", sizes: "(min-width: 1024px) 600px, (min-width: 480px) 400px, 100vw" } %>
              <figcaption>Empty space</figcaption>
            </figure>
          <% end %>
        <% end %>

      </section>
      <div class="storefrontMultiGallery__button">
        <%= link_to vendor_service_galleries_path(service), class: "button app-gallery-slider-fullscreen-open app-gallery-fullscreen-open" do %>
          Xem ảnh <span><%= service.total_items_count %></span>
        <% end %>
      </div>
    </div>
  </section>
</article>

<%# assafsafasgasgasg %>
<tr id="<%= dom_id service %>" class="hover:bg-gray-100 odd:bg-white even:bg-gray-50 text-[#333c48]">
  <td class="px-2.5 pl-[18px] font-semibold text-sm whitespace-nowrap truncate leading-10 border-[#e2e7ee] border-b">
    <%= link_to vendor_service_path(service), class: "hover:underline hover:text-indigo-500" do %>
      <%= service.name %>
    <% end %>
  </td>
  <td style="border-left: 1px dashed #d5dce6;" class="px-2.5 text-sm whitespace-nowrap truncate leading-10 border-[#e2e7ee] border-b">
    <%= service.category&.name %>
  </td>
  <td style="border-left: 1px dashed #d5dce6;" class="py-1 px-2.5 text-sm whitespace-nowrap truncate leading-10 border-[#e2e7ee] border-b">
    <% service.first_four_items.each do |item| %>
      <%= image_tag item.variant(:medium) %>
    <% end %>
  </td>
  <td style="border-left: 1px dashed #d5dce6;" class="px-2.5 text-sm whitespace-nowrap truncate leading-10 border-[#e2e7ee] border-b">
    <%= service.description %>
  </td>
  <td style="border-left: 1px dashed #d5dce6;" class="px-2.5 text-sm whitespace-nowrap truncate leading-10 border-[#e2e7ee] border-b">
    <%= service.main_address&.full_address %>
  </td>
  <td style="border-left: 1px dashed #d5dce6;" class="px-2.5 text-sm whitespace-nowrap truncate leading-10 border-[#e2e7ee] border-b">
    <%= number_to_currency service.pricing, unit: "đ", precision: 0, format: "%n %u" %>
  </td>
  <td style="border-left: 1px dashed #d5dce6;" class="px-2.5 text-sm whitespace-nowrap truncate leading-10 border-[#e2e7ee] border-b">
    <span class="inline-block whitespace-nowrap px-2 py-0.5 text-xs text-center font-bold rounded-full <%= service.published? ? "text-green-400 bg-green-100" : "text-red-400 bg-red-100" %>">
      <%= service.published? ? "Công khai" : "Ẩn" %>
    </span>
  </td>
  <td style="border-left: 1px dashed #d5dce6;" class="px-2.5 text-sm whitespace-nowrap leading-10 border-[#e2e7ee] border-b overflow-visible">
    <div class="flex flex-row gap-1">
      <div class="relative flex justify-center items-center">
        <% if service.published? %>
          <%= link_to unpublish_vendor_service_path(service), data: { turbo_method: :post }, class: "peer text-base text-gray-500 hover:text-indigo-500" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-off"><path d="M9.88 9.88a3 3 0 1 0 4.24 4.24"/><path d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"/><path d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"/><line x1="2" x2="22" y1="2" y2="22"/></svg>
          <% end %>
          <span class="peer-hover:visible peer-hover:opacity-100 invisible opacity-0 absolute bottom-full left-1/2 transform -translate-x-1/2 px-2 py-1 bg-black text-white text-sm rounded whitespace-nowrap z-10 transition-opacity duration-200 ease-in-out">
            Ẩn dịch vụ
          </span>
        <% else %>
          <%= link_to publish_vendor_service_path(service), data: { turbo_method: :post }, class: "peer text-base text-gray-500 hover:text-indigo-500" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye"><path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"/><circle cx="12" cy="12" r="3"/></svg>
          <% end %>
          <span class="peer-hover:visible peer-hover:opacity-100 invisible opacity-0 absolute bottom-full left-1/2 transform -translate-x-1/2 px-2 py-1 bg-black text-white text-sm rounded whitespace-nowrap z-10 transition-opacity duration-200 ease-in-out">
            Công khai dịch vụ
          </span>
        <% end %>
      </div>

      <div class="relative flex justify-center items-center">
        <%= link_to edit_vendor_service_path(service), class: "peer text-base text-gray-500 hover:text-indigo-500" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings"><path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"/><circle cx="12" cy="12" r="3"/></svg>
        <% end %>
        <span class="peer-hover:visible peer-hover:opacity-100 invisible opacity-0 absolute bottom-full left-1/2 transform -translate-x-1/2 px-2 py-1 bg-black text-white text-sm rounded whitespace-nowrap z-10 transition-opacity duration-200 ease-in-out">
          Chỉnh sửa
        </span>
      </div>
      <div class="relative flex justify-center items-center">
        <%= button_to vendor_service_path(service), method: :delete, data: {turbo_confirm: "Bạn có chắc muốn xóa dịch vụ này?"}, form_class: "peer text-base text-gray-500 hover:text-indigo-500 flex justify-center items-center" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-2"><path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/><line x1="10" x2="10" y1="11" y2="17"/><line x1="14" x2="14" y1="11" y2="17"/></svg>
        <% end %>
        <span class="peer-hover:visible peer-hover:opacity-100 invisible opacity-0 absolute bottom-full left-1/2 transform -translate-x-1/2 px-2 py-1 bg-black text-white text-sm rounded whitespace-nowrap z-10 transition-opacity duration-200 ease-in-out">
          Xóa
        </span>
      </div>
    </div>
  </td>
</tr>
