<style>
  .label--v1 {
    background: url(<%= asset_path "svg/Label_VIPSilver.svg" %>) no-repeat center center transparent;
  }
  .label--v2 {
    background: url(<%= asset_path "svg/Label_VIPGold.svg" %>) no-repeat center center transparent;
  }
  .label--v3 {
    background: url(<%= asset_path "svg/Label_VIPDiamond.svg" %>) no-repeat center center transparent;
  }
</style>

<div class="py-8 px-6 min-w-[1024px]">
  <h1 class="mb-2 text-2xl font-medium">Dịch vụ của bạn</h1>

  <%# Toolbar %>
  <div class="mb-4 flex flex-row justify-between">
    <div class="flex flex-row gap-5 items-center">
      <%= form_with url: vendor_services_search_path, html: {class: "relative"} do |form| %>
        <%= form.text_field :search, value: params[:search], class: "text-sm w-96 max-w-full border-gray-300 rounded py-2 px-4 leading-tight pl-12 border-0 ring-1 ring-inset ring-gray-300 outline-0 focus:ring-1 focus:ring-inset focus:ring-indigo-600", placeholder: "Search (type text, then press Enter)" %>
        <%= tag.button type: "submit", class:"absolute inset-y-0 left-0 flex items-center pl-4 text-lg", title: "Search" do %>
          <%= inline_svg_tag "svg/search.svg", size: "18" %>
        <% end %>
      <% end %>
    </div>
    <div class="flex justify-center items-center">
      <%= link_to new_vendor_service_path, class: "flex gap-1 justify-center items-center pl-3 pr-4 py-2 text-sm text-white bg-indigo-500 font-medium rounded hover:bg-indigo-600" do %>
        <%= inline_svg_tag "svg/plus.svg", size: "18" %>
        <span>Thêm dịch vụ mới</span>
      <% end %>
    </div>
  </div>

  <%# Table %>
  <div class="flex flex-col border border-gray-200 rounded overflow-x-auto shadow-sm">
    <table class="min-w-full table-fixed">
      <thead class="bg-[#f8fafc] text-left">
        <tr>
          <th scope="col" class="pl-[18px] px-2.5 py-[8.7px] text-sm font-medium text-[#637286] tracking-wider border-[#e2e7ee] border-b leading-6 shadow-[0_-10px_0_white]">
            Dịch vụ
          </th>
          <th scope="col" class="px-2.5 py-[8.7px] text-sm font-medium text-[#637286] tracking-wider border-[#e2e7ee] border-b leading-6 shadow-[0_-10px_0_white]" style="border-left: 1px dashed #d5dce6;">
            Loại dịch vụ
          </th>
          <th scope="col" class="px-2.5 py-[8.7px] text-sm font-medium text-[#637286] tracking-wider border-[#e2e7ee] border-b leading-6 shadow-[0_-10px_0_white]" style="border-left: 1px dashed #d5dce6;">
            Hình ảnh
          </th>
          <th scope="col" class="px-2.5 py-[8.7px] text-sm font-medium text-[#637286] tracking-wider border-[#e2e7ee] border-b leading-6 shadow-[0_-10px_0_white]" style="border-left: 1px dashed #d5dce6;">
            Mô tả
          </th>
          <th scope="col" class="px-2.5 py-[8.7px] text-sm font-medium text-[#637286] tracking-wider border-[#e2e7ee] border-b leading-6 shadow-[0_-10px_0_white]" style="border-left: 1px dashed #d5dce6;">
            Mức giá phổ biến
          </th>
          <th scope="col" class="px-2.5 py-[8.7px] text-sm font-medium text-[#637286] tracking-wider border-[#e2e7ee] border-b leading-6 shadow-[0_-10px_0_white]" style="border-left: 1px dashed #d5dce6;">
            Trạng thái
          </th>
          <th scope="col" class="px-2.5 py-[8.7px] text-sm font-medium text-[#637286] tracking-wider border-[#e2e7ee] border-b leading-6 shadow-[0_-10px_0_white]" style="border-left: 1px dashed #d5dce6;">
            Hành động
          </th>
        </tr>
      </thead>
      <tbody id="services">
        <%= render partial: 'service_table_row', collection: @services, as: :service %>
      </tbody>
    </table>
  </div>

  <%# Pagination %>
  <div class="mt-2 flex justify-between mx-2" id="pagination">
    <%== pagy_info(@pagy, item_name: 'dịch vụ') %>
    <%== pagy_nav(@pagy) %>
  </div>
</div>
