<div class="py-8 px-6 min-w-[1024px]">
  <h1 class="mb-2 text-2xl font-medium">Services</h1>

  <%# Toolbar %>
  <div class="mb-4 flex flex-row justify-between">
    <div class="flex flex-row gap-5 items-center">
      <%= form_with url: vendor_services_path, method: :get, html: {class: "relative"} do |form| %>
        <%= form.text_field :search, class: "text-sm w-96 max-w-full border-gray-300 rounded-md py-2 px-4 leading-tight pl-12 border-0 ring-1 ring-inset ring-gray-300 outline-0 focus:ring-1 focus:ring-inset focus:ring-indigo-600", placeholder: "Search (type text, then press Enter)" %>
        <%= tag.button type: "submit", class:"absolute inset-y-0 left-0 flex items-center pl-4 text-lg", title: "Search" do %>
          <i data-lucide="search"></i>
        <% end %>
      <% end %>
    </div>
    <div class="flex justify-center items-center">
      <%= link_to new_vendor_service_path, class: "flex gap-1 justify-center items-center pl-3 pr-4 py-2 text-sm text-white bg-indigo-500 font-medium rounded-md hover:bg-indigo-600" do %>
        <i data-lucide="plus"></i>
        <span>New service</span>
      <% end %>
    </div>
  </div>

  <%# Table %>
  <div class="flex flex-col border border-gray-200 rounded-md overflow-x-auto shadow-sm">
    <table class="min-w-full table-fixed">
      <thead class="bg-[#f8fafc] text-left">
        <tr>
          <th scope="col" class="px-2.5 py-[8.7px] w-44  text-sm font-medium text-[#637286] tracking-wider border-[#e2e7ee] border-b leading-6 shadow-[0_-10px_0_white]" style="border-left: 1px dashed #d5dce6;">
            Name
          </th>
          <th scope="col" class="px-2.5 py-[8.7px] w-2/5 text-sm font-medium text-[#637286] tracking-wider border-[#e2e7ee] border-b leading-6 shadow-[0_-10px_0_white]" style="border-left: 1px dashed #d5dce6;">
            Description
          </th>
          <th scope="col" class="px-2.5 py-[8.7px] w-48 text-sm font-medium text-[#637286] tracking-wider border-[#e2e7ee] border-b leading-6 shadow-[0_-10px_0_white]" style="border-left: 1px dashed #d5dce6;">
            Price
          </th>
          <th scope="col" class="px-2.5 py-[8.7px] w-48 text-sm font-medium text-[#637286] tracking-wider border-[#e2e7ee] border-b leading-6 shadow-[0_-10px_0_white]" style="border-left: 1px dashed #d5dce6;">
            Status
          </th>
          <th scope="col" class="px-2.5 py-[8.7px] w-36 text-sm font-medium text-[#637286] tracking-wider border-[#e2e7ee] border-b leading-6 shadow-[0_-10px_0_white]" style="border-left: 1px dashed #d5dce6;">
            Actions
          </th>
        </tr>
      </thead>
      <tbody id="services">
        <% @services.each do |service| %>
          <%= render service %>
        <% end %>
      </tbody>
    </table>
  </div>

  <%# Pagination %>
  <div class="mt-2 flex justify-end">
    <%== pagy_nav(@pagy) %>
  </div>
</div>

<%# Side modal %>
<%= render "shared/side_modal", title: "Testing" do %>
  <%# body %>
  <div class="text-sm mb-4 text-gray-400 leading-[1.5] tracking-wide">
    Select the template that you would like to use from the list below.
    You will be able to preview the shifts that will be created in the
    next step.
  </div>
  <div>

    <div class="flex py-2.5 overflow-hidden hover:rounded hover:bg-[#ceefff] hover:px-2.5 hover:-mx-2.5 hover:border-opacity-0 [&:hover_+_div]:border-opacity-0 cursor-pointer border-t border-gray-300 first:border-none">
      <div class="flex-1 flex items-center">
        <div class="text-gray-700 font-semibold tracking-wide text-base">
          asgsgasgsag
        </div>
      </div>
      <div class="ml-3.5 flex items-start">
        <div class="text-[#00a8ff] bg-[#ceefff] text-xs font-semibold capitalize rounded-full aspect-square w-7 flex justify-center items-center border-2 border-white">
          3
        </div>
      </div>
    </div>
  </div>

  <% content_for :modal_footer do %>
    <div class="w-full flex justify-between items-center gap-2">
      <button type="button" class="py-1.5 px-3 font-semibold text-white border border-blue-400 bg-[#00a8ff] text-sm rounded hover:bg-blue-500">
        Refresh
      </button>
      <button type="button" class="flex gap-2 justify-center items-center py-1.5 px-3 font-semibold text-white border border-[#00bc1d] bg-[#00bc1d] text-sm rounded hover:bg-green-600">
        <span class="text-xs">
          <i data-lucide="plus"></i>
        </span>
        New Week Template
      </button>
    </div>
  <% end %>
<% end %>
