<p style="color: green"><%= notice %></p>

<%= render @service %>

<div>
  <%= link_to "Edit this service", edit_vendor_service_path(@service) %> |
  <%= link_to "Back to services", vendor_services_path %>

  <%= button_to "Destroy this service", @service, method: :delete %>
</div>

<button type="button" class="text-sm font-medium flex items-center justify-center gap-2 rounded cursor-pointer whitespace-nowrap mt-3 w-full tracking-[0.2px] bg-white py-1.5 px-3 border border-gray-300 hover:bg-gray-100">
  Xem trước giao diện
</button>
