<p style="color: green"><%= notice %></p>

<%= render @service %>

<div>
  <%= link_to "Edit this service", edit_vendor_service_path(@service) %> |
  <%= link_to "Back to services", vendor_services_path %>

  <%= button_to "Destroy this service", @service, method: :delete %>

  <div class="relative flex justify-center items-center">
    <%= tag.button type: "button", data: {action: "side-modal#open"}, class: "peer text-base text-gray-500 hover:text-indigo-500" do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-from-line"><path d="m18 9-6-6-6 6"/><path d="M12 3v14"/><path d="M5 21h14"/></svg>
    <% end %>
    <span class="peer-hover:visible peer-hover:opacity-100 invisible opacity-0 absolute bottom-full left-1/2 transform -translate-x-1/2 px-2 py-1 bg-black text-white text-sm rounded whitespace-nowrap z-10 transition-opacity duration-200 ease-in-out">
      Đẩy tin
    </span>
  </div>
</div>

<button type="button" class="text-sm font-medium flex items-center justify-center gap-2 rounded cursor-pointer whitespace-nowrap mt-3 w-full tracking-[0.2px] bg-white py-1.5 px-3 border border-gray-300 hover:bg-gray-100">
  Xem trước giao diện
</button>

<%# Side modal %>
<%= render "shared/side_modal", title: "Testing" do %>
  <%# body %>
  <div class="text-sm mb-4 text-gray-400 leading-[1.5] tracking-wide">
    Select the template that you would like to use from the list below.
    You will be able to preview the shifts that will be created in the
    next step.
  </div>
  <div>

    <div class="flex py-2.5 overflow-hidden hover:rounded hover:bg-[#ceefff] hover:px-2.5 hover:-mx-2.5 hover:border-opacity-0 [&:hover_+_div]:border-opacity-0 cursor-pointer border-t border-gray-300 first:border-none">
      <div class="flex-1 flex items-center">
        <div class="text-gray-700 font-semibold tracking-wide text-base">
          asgsgasgsag
        </div>
      </div>
      <div class="ml-3.5 flex items-start">
        <div class="text-[#00a8ff] bg-[#ceefff] text-xs font-semibold capitalize rounded-full aspect-square w-7 flex justify-center items-center border-2 border-white">
          3
        </div>
      </div>
    </div>
  </div>

  <% content_for :modal_footer do %>
    <div class="w-full flex justify-between items-center gap-2">
      <button type="button" class="py-1.5 px-3 font-semibold text-white border border-blue-400 bg-[#00a8ff] text-sm rounded hover:bg-blue-500">
        Refresh
      </button>
      <button type="button" class="flex gap-2 justify-center items-center py-1.5 px-3 font-semibold text-white border border-[#00bc1d] bg-[#00bc1d] text-sm rounded hover:bg-green-600">
        <span class="text-xs">
          <i data-lucide="plus"></i>
        </span>
        New Week Template
      </button>
    </div>
  <% end %>
<% end %>
