<div id="<%= dom_id common_question %>">
  <p>
    <strong>Question:</strong>
    <%= common_question.question %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= common_question.answer %>
  </p>

</div>
<div>
  <%= link_to "Edit this common question", edit_vendor_service_question_path(common_question.service, common_question) %> |
  <%= button_to "Destroy this common question",
                      vendor_service_question_path(params[:service_id], common_question),
                      method: :delete %>
</div>
