<%= turbo_frame_tag dom_id common_question, "detail" do %>
  <div id="<%= dom_id common_question %>" class="bg-white shadow rounded px-6 py-3 border border-gray-300 space-y-2">
    <p class="font-semibold">
      <strong class="text-gray-700">Question:</strong>
      <span class=""><%= common_question.question %></span>
    </p>

    <p class="">
      <strong class="text-gray-700">Answer:</strong>
      <span class="text-gray-900"><%= common_question.answer %></span>
    </p>

    <div class="flex space-x-4">
      <%= link_to "Edit this common question", edit_vendor_service_question_path(common_question.service, common_question), class: "text-blue-600 hover:text-blue-800" %>
      <%= button_to "Destroy this common question",
                vendor_service_question_path(params[:service_id], common_question),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "text-red-600 hover:text-red-800" %>
    </div>
  </div>
<% end %>
