<%= form_with(scope: :common_question, url: path, method:,
              data:{ controller: "form", action: "turbo:submit-end->form#reset"}) do |form| %>
  <div>
    <%= form.label :question, style: "display: block" %>
    <%= form.text_field :question %>
  </div>

  <div>
    <%= form.label :answer, style: "display: block" %>
    <%= form.text_area :answer %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
