<div class="bg-white py-0.5 border-b border-gray-300 fixed right-0 top-0 w-full md:w-[calc(100%-264px)] z-40" data-controller="navbar" data-navbar-mobile-menu-open-value="false">

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="md:hidden h-screen fixed w-full inset-0 pt-16 bg-white" id="mobile-menu" data-navbar-target="mobileMenu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <%= render "shared/vendor_sidebar" %>
    </div>
  </div>

  <div class="px-2 sm:px-6 lg:px-5">
    <div class="relative flex items-center justify-between h-14">
      <div class="absolute inset-y-0 left-0 flex items-center md:hidden">
        <!-- Mobile menu button-->
        <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-600 hover:bg-gray-200 hover:text-gray-800 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false"
                data-action="click->navbar#toggleMobileMenu">
          <span class="sr-only">Open main menu</span>
          <%= inline_svg_tag "svg/bugger-btn-closed", size: "24", class: "block", data: { navbar_target: "closedIcon"} %>
          <%= inline_svg_tag "svg/bugger-btn-opened", size: "24", class: "hidden", data: { navbar_target: "openedIcon"} %>
        </button>
      </div>

      <div class="flex items-center flex-1 justify-end">
        <button type="button" class="relative rounded-full p-1 text-gray-600 hover:text-gray-800 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
          <span class="absolute -inset-1.5"></span>
          <span class="sr-only">View notifications</span>
          <%= inline_svg_tag "svg/bell.svg", size: "24" %>
        </button>

        <!-- Profile dropdown -->
        <details class="relative ml-3 c-dropdown" data-controller="dropdown">
          <summary role="button">
            <div class="flex items-center gap-2">
              <div class="relative flex rounded-full h-8 w-8 bg-gray-400 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                <span class="sr-only">Open user menu</span>
                <% if current_vendor.avatar.attached? %>
                  <%= image_tag current_vendor.avatar.variant(:thumb), class: "w-full h-full object-cover rounded-full" %>
                <% else %>
                  <div class="absolute inset-0 flex items-center justify-center text-white text-lg font-semibold w-full h-full"><%= current_vendor.name[0]&.titleize %></div>
                <% end %>
              </div>
              <div class="max-w-24 overflow-hidden">
                <p class="text-gray-800 text-sm font-medium" title="<%= current_vendor.name %>">
                  <%= current_vendor.name %>
                </p>
                <p class="text-gray-500 text-xs font-medium truncate" title="<%= current_vendor.email %>">
                  <%= current_vendor.email %>
                </p>
              </div>
            </div>
          </summary>

          <div role="menu" aria-orientation="vertical" tabindex="-1" data-dropdown-target="menu">
            <%= link_to 'Logout', destroy_vendor_session_path,
                                    data: { turbo_method: :delete },
                                    class: "block px-4 py-2 text-sm text-gray-700",
                                    role: :menuitem,
                                    tabindex: "-1" %>
          </div>
        </details>
      </div>
    </div>
  </div>
</div>
