<p style="color: green"><%= notice %></p>

<%= render @spending %>

<div>
  <%= link_to "Edit this spending", edit_vendor_spending_path(@spending) %> |
  <%= link_to "Back to spendings", vendor_spendings_path %>

  <%= button_to "Destroy this spending", vendor_spending_path(@spending), method: :delete %>
</div>
