<div id="<%= dom_id transaction %>">
  <p>
    <strong>Vendor:</strong>
    <%= transaction.vendor_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= transaction.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= transaction.status %>
  </p>

</div>
