<div id="<%= dom_id address %>">
  <p>
    <strong>Service:</strong>
    <%= address.service_id %>
  </p>

  <p>
    <strong>Full address:</strong>
    <%= address.full_address %>
  </p>

  <p>
    <strong>District:</strong>
    <%= address.district %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= address.province %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= address.phone %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= address.longitude %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= address.latitude %>
  </p>

</div>
