<h1>Payment#index</h1>

<p style="color: green;"><%= notice %></p>

<%= form_with(scope: :payment, url: payment_path, data:{turbo: false}) do |form| %>
  <div>
    <%= form.label :orderCode, style: "display: block" %>
    <%= form.text_field :orderCode %>
  </div>
  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>
  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
