<div id="<%= dom_id forum %>">
  <p>
    <strong>Title:</strong>
    <%= forum.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= forum.description %>
  </p>

  <p>
    <strong>Users count:</strong>
    <%= forum.users_count %>
  </p>

  <p>
    <strong>Discussions count:</strong>
    <%= forum.discussions_count %>
  </p>

</div>
