<%= form_with(model: [ :vendor, idea ], data: { controller: "form-changed-check" }, html: {class: "space-y-4"}) do |form| %>
  <% if idea.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
        <% idea.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col gap-2">
    <%= form.label :topic_id, class: "font-semibold text-sm" do %>
      Chủ đề
    <% end %>
    <%= form.grouped_collection_select :topic_id, topic_categories, :topics, :name, :id, :name,
                                              { :include_blank => "Chọn chủ đề" },
                                              { :class => 'border border-gray-300 rounded py-1.5 px-3.5 text-sm outline-none focus:border-gray-500 hover:border-gray-400', data: { action: "form-changed-check#checkDirty" } } %>
  </div>

  <div class="flex flex-col gap-2">
    <%= form.label :title, class: "font-semibold text-sm" %>
    <%= form.text_field :title, class: "border border-gray-300 rounded py-1.5 px-3.5 text-sm outline-none focus:border-gray-500 hover:border-gray-400", data: { action: "form-changed-check#checkDirty" } %>
  </div>

  <div class="flex flex-col gap-2">
    <%= form.label :description, class: "font-semibold text-sm" %>
    <%= form.text_area :description,
                        class: "min-h-20 border border-gray-300 rounded py-1.5 px-3.5 text-sm outline-none focus:border-gray-500 hover:border-gray-400",
                        data: { action: "form-changed-check#checkDirty" } %>
  </div>

  <div data-controller="image-file-preview" class="flex flex-col gap-2">
    <%= form.label :main_image, "Thumbnail", class: "font-semibold text-sm" %>
    <%= form.file_field :main_image, accept: "image/png,image/jpg,image/jpeg,image/webp" ,
                        class: "w-full px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-500",
                        data: { "image-file-preview-target": :input, action: "form-changed-check#checkDirty" } %>
    <div class="my-2">
      <img alt="preview" data-image-file-preview-target="preview" data-has-image="<%= idea.main_image.attached? %>" src="<%= url_for(idea.main_image) unless !idea.main_image.attached? %>">
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <%= form.label :content, class: "font-semibold text-sm" %>
    <%= form.rich_text_area :content, { data: { action: "trix-change->form-changed-check#checkDirty" } } %>
  </div>

  <div>
    <%= form.submit "Submit", data: {turbo_submits_with: "Saving..."}, class: "relative rounded cursor-pointer whitespace-nowrap w-auto tracking-[0.2px] bg-green-300 px-3 py-1.5" %>
  </div>
<% end %>
