<div id="<%= dom_id idea %>">
  <p>
    <strong>Title:</strong>
    <%= idea.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= idea.description %>
  </p>

  <% if idea.main_image.attached? %>
    <div class="relative flex rounded justify-center mb-6 overflow-hidden h-[308px] w-[462px]">
      <%= image_tag idea.main_image.variant(:thumbnail), class: "w-full h-full object-cover" %>
    </div>
  <% end %>

  <p>
    <strong>Vendor:</strong>
    <%= idea.vendor_id %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= idea.topic_id %>
  </p>

</div>
