<p style="color: green"><%= notice %></p>

<div class="flex justify-center">
  <div class="w-full md:w-[948px] flex flex-col gap-4">
    <h1 class="text-3xl font-bold">Ideas</h1>

    <div class="p-6 bg-white rounded">
      <div class="flex gap-2 items-center mb-3">
        <%= link_to "New idea", new_vendor_idea_path, class: "flex items-center justify-center gap-2 rounded cursor-pointer whitespace-nowrap w-fit tracking-[0.2px] bg-green-300 py-1.5 px-3 hover:bg-green-400" %>

        <%= link_to "Mua lượt đăng tin", new_vendor_spending_path, class: "flex items-center justify-center gap-2 rounded cursor-pointer whitespace-nowrap w-fit tracking-[0.2px] bg-white py-1.5 px-3 text-[rgb(224,60,49)] border border-[rgb(224,60,49)] hover:bg-[rgb(224,60,49)] hover:text-white" %>
      </div>

      <div id="ideas" class="grid gap-y-6 gap-x-10 mb-8 grid-cols-[repeat(auto-fill,minmax(310px,1fr))]">
        <% @ideas.each do |idea| %>

          <%= link_to vendor_idea_path(idea), class: "block" do %>
            <%= render partial: 'idea_minimal', locals: { idea: idea } %>
          <% end %>

        <% end %>
      </div>
    </div>
  </div>
</div>
