<%= render @idea %>

<div id="toggle_publish">
  <%= render 'toggle_publish_link', idea: @idea %>
</div>

<div>
  <%= link_to 'Want to publish? Click here to pay for the post',
              pay_vendor_idea_path(@idea),
              data: { turbo_method: :post, turbo_confirm: "This will cost you 1 post limit. Are you sure to continue?" },
              class: "underline" %>
</div>

<div>
  <%= link_to "Edit this idea", edit_vendor_idea_path(@idea) %> |
  <%= link_to "Back to ideas", vendor_ideas_path %>

  <%= button_to "Destroy this idea", vendor_idea_path(@idea), method: :delete %>
</div>
