<% breadcrumbs = [
  {name: "Weddings", path: root_path},
  {name: @category.name},
] %>

<div class='temp_home' data-controller="services-search"
      data-pricing-from="<%= params[:pricing_from].to_i %>"
      data-pricing-to="<%= params[:pricing_to].to_i %>"
      data-services-search-search-value="<%= params[:search] %>"
      data-services-search-location-value="<%= params[:location] %>">
  <%= render 'shared/breadcrumb', breadcrumbs: %>

  <article class="listing app-listing">
    <style>
      <% heading_bg = @category.image.attached? ? url_for(@category.image.variant(:header_bg)) : "bg_wedding_vendors.jpg" %>
      .listingHeading:before {
        background-image: url(<%= asset_path "svg/heading-mask-diagonal.svg" %>), url(<%= asset_path heading_bg %>);
      }
      .label--v1 {
        background: url(<%= asset_path "svg/Label_VIPSilver.svg" %>) no-repeat center center transparent;
      }
      .label--v2 {
        background: url(<%= asset_path "svg/Label_VIPGold.svg" %>) no-repeat center center transparent;
      }
      .label--v3 {
        background: url(<%= asset_path "svg/Label_VIPDiamond.svg" %>) no-repeat center center transparent;
      }
    </style>
    <header class="listingHeading app-heading">
      <h1 class="listingHeading__title"><%= @category.name %></h1>
      <div class="listingHeading__searcher app-searcher-tracking">
        <%= form_with url: services_path, method: :get, html: {class: "searcherOpenModal app-searcher-modal suggestCategory", role: "search"} do %>
          <input type="hidden" name="pricing_from" data-services-search-target="pricingFrom">
          <input type="hidden" name="pricing_to" data-services-search-target="pricingTo">
          <input type="hidden" name="search" data-services-search-target="search">
          <input type="hidden" name="province" data-services-search-target="location">
          <i class="svgIcon app-svg-async svgIcon__search searcherOpenModal__icon ml-4">
            <%= inline_svg_tag "svg/search.svg", size: "16" %>
          </i>
          <div class="searcherOpenModal__inputsContainer app-searcher-inputs-container">
            <div class="searcherOpenModal__category app-filter-searcher-input">
              <input type="text" class="searcherOpenModal__input" placeholder="Dịch vụ cần tìm" data-services-search-target="search">
            </div>
            <div class="searcherOpenModal__location app-searcher-location-input">
              <input type="text" class="searcherOpenModal__input" placeholder="Khu vực" data-services-search-target="location">
            </div>
          </div>
        <% end %>
        <%= form_with url: services_path, method: :get, html: {class: "searcher app-searcher suggestCategory", role: "search"} do %>
          <input type="hidden" name="pricing_from" data-services-search-target="pricingFrom">
          <input type="hidden" name="pricing_to" data-services-search-target="pricingTo">
          <input type="hidden" name="search" data-services-search-target="search">
          <input type="hidden" name="province" data-services-search-target="location">
          <div class="searcher__category app-filter-searcher-field ">
            <i class="svgIcon app-svg-async svgIcon__search searcher__categoryIcon">
              <%= inline_svg_tag "svg/search.svg", size: "18" %>
            </i>
            <input class="searcher__input app-filter-searcher-input app-searcher-category-input-tracking" type="text" aria-label="Search for vendors" placeholder="Dịch vụ cần tìm" autocomplete="off" data-services-search-target="search">
            <span class="searcher__categoryReset app-searcher-reset-category">
              <i class="svgIcon app-svg-async svgIcon__close searcher__categoryResetIcon"   ><svg viewBox="0 0 26 26"><path d="M12.983 10.862L23.405.439l2.122 2.122-10.423 10.422 10.423 10.422-2.122 2.122-10.422-10.423L2.561 25.527.439 23.405l10.423-10.422L.439 2.561 2.561.439l10.422 10.423z" fill-rule="nonzero"></path></svg></i>
            </span>
            <div class="searcher__placeholder app-filter-searcher-list"></div>
          </div>
          <div class="searcher__location">
            <span class="searcher__locationFixedText">
              <%= inline_svg_tag "svg/map-pin.svg", size: "18" %>
            </span>
            <input class="searcher__input app-searcher-location-input app-searcher-location-input-tracking" type="text" placeholder="Khu vực" aria-label="Location" autocomplete="off" data-services-search-target="location">
            <span class="searcher__locationReset app-searcher-reset-location">
              <i class="svgIcon app-svg-async svgIcon__close searcher__locationResetIcon"   ><svg viewBox="0 0 26 26"><path d="M12.983 10.862L23.405.439l2.122 2.122-10.423 10.422 10.423 10.422-2.122 2.122-10.422-10.423L2.561 25.527.439 23.405l10.423-10.422L.439 2.561 2.561.439l10.422 10.423z" fill-rule="nonzero"></path></svg></i>
            </span>
            <span class="searcher__locationReset app-searcher-reset-location">
              <i class="svgIcon app-svg-async svgIcon__close searcher__locationResetIcon"   ><svg viewBox="0 0 26 26"><path d="M12.983 10.862L23.405.439l2.122 2.122-10.423 10.422 10.423 10.422-2.122 2.122-10.422-10.423L2.561 25.527.439 23.405l10.423-10.422L.439 2.561 2.561.439l10.422 10.423z" fill-rule="nonzero"></path></svg></i>
            </span>
          </div>
          <button type="submit" class="searcher__submit app-searcher-submit-tracking" data-services-search-target="submit">
            Search
          </button>
        <% end %>
      </div>
    </header>
    <aside class="sidebar app-vendor-listing-sidebar ">
      <section id="topbar-filters-menu" class="listingFilters app-listing-filters-wrapper   " role="navigation">
        <div class="listingFilters__content ">
          <div class="listingFilters__contentBody app-listing-filters">
            <div class="app-listing-filter-form">
              <div class="filterOptions  filterOptions--location app-listing-filters-location app-listing-filters-options">
                <fieldset>
                  <div class="filterOptions__header app-listing-filters-collapse-button">
                    <p class="filterOptions__title">
                      <span id="app-filter-location-searcher-label">
                        Price
                      </span>
                    </p>
                  </div>
                  <div class="app-listing-filters-collapse-content">
                    <ul class="filterOptions__list app-filters-list">
                      <li class="filterOptions__item app-filter-item">
                        <div class="checkbox app-form-field" aria-labelledby="popularPriceRange0">
                          <input type="radio" checked name="popularPriceRange" id="popularPriceRangeAll" value="[,]" class="checkbox__input app-listing-filter-price-range" data-services-search-target="pricing">
                          <label class="checkbox__icon" for="popularPriceRangeAll">
                            Tất cả mức giá
                          </label>
                        </div>
                      </li>
                      <li class="filterOptions__item app-filter-item">
                        <div class="checkbox app-form-field" aria-labelledby="popularPriceRange0">
                          <input type="radio" name="popularPriceRange" id="popularPriceRange0" value="[,999000]" class="checkbox__input app-listing-filter-price-range" data-services-search-target="pricing">
                          <label class="checkbox__icon" for="popularPriceRange0">
                            Dưới 1,000,000 đ
                          </label>
                        </div>
                      </li>
                      <li class="filterOptions__item app-filter-item">
                        <div class="checkbox app-form-field" aria-labelledby="popularPriceRange1">
                          <input type="radio" name="popularPriceRange" id="popularPriceRange1" value="[1000000,1999000]" class="checkbox__input app-listing-filter-price-range" data-services-search-target="pricing">
                          <label class="checkbox__icon" for="popularPriceRange1">
                            1,000,000 đ - 1,999,000 đ
                          </label>
                        </div>
                      </li>
                      <li class="filterOptions__item app-filter-item">
                        <div class="checkbox app-form-field" aria-labelledby="popularPriceRange2">
                          <input type="radio" name="popularPriceRange" id="popularPriceRange2" value="[2000000,2999000]" class="checkbox__input app-listing-filter-price-range" data-services-search-target="pricing">
                          <label class="checkbox__icon" for="popularPriceRange2">
                            2,000,000 đ - 2,999,000 đ
                          </label>
                        </div>
                      </li>
                      <li class="filterOptions__item app-filter-item">
                        <div class="checkbox app-form-field" aria-labelledby="popularPriceRange3">
                          <input type="radio" name="popularPriceRange" id="popularPriceRange3" value="[3000000,3999000]" class="checkbox__input app-listing-filter-price-range" data-services-search-target="pricing">
                          <label class="checkbox__icon" for="popularPriceRange3">
                            3,000,000 đ - 3,999,000 đ
                          </label>
                        </div>
                      </li>
                      <li class="filterOptions__item app-filter-item">
                        <div class="checkbox app-form-field" aria-labelledby="popularPriceRange4">
                          <input type="radio" name="popularPriceRange" id="popularPriceRange4" value="[4000000,]" class="checkbox__input app-listing-filter-price-range" data-services-search-target="pricing">
                          <label class="checkbox__icon" for="popularPriceRange4">
                            Trên 4,000,000 đ
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </section>
    </aside>
    <section class="listingContent app-listing-global-container app-ec-list vendor-list app-internal-tracking-page  gtm-impression-list ">
      <div class="stickyFilterButtonBarMobile  app-sticky-filter-button-bar-mobile   stickyFilterButtonBarMobile--vendors  ">
        <div class="filterButtonBar app-filter-menu-type      filterButtonBar--vendors    " >
          <h2 class="filterButtonBar__results app-number-of-results">
            <%= @pagy.count %> results
          </h2>
        </div>
      </div>

      <% priority_created_at_map = @services.map(&:latest_priority_created_at) %>
      <% max_priority_level_map = @services.map(&:max_priority_level) %>

      <% cache [ @services.map(&:id), @services.maximum(:updated_at), priority_created_at_map, max_priority_level_map ] do %>
        <div class="services">
          <% @services.each_with_index do |service, idx| %>
            <% cache [ service, max_priority_level_map[idx] ] do %>
              <div class="js__card js__card-full-web pr-container re__card-full  re__vip-normal">
                <%= link_to service_path(service), class: "js__product-link-for-product-id", data:{controller: "card-link", delegated_action:"click->card-link#visit"} do %>
                  <div class="re__card-image">
                    <span>
                      <% if service.first_image_thumb_of_first_gallery.present? %>
                        <%= image_tag service.first_image_thumb_of_first_gallery(:medium) %>
                      <% end %>
                    </span>
                    <div class="card-label-img label--v<%= max_priority_level_map[idx] %>"></div>
                    <div class="re__card-image-feature">
                      <span><%= service.total_items_count %></span>
                      <%= inline_svg_tag "svg/image.svg", size: "20" %>
                    </div>
                  </div>
                  <div class="re__card-info" title="Bán nhà mới tinh tại phường Hà Lầm, TP Hạ Long 0968 484 ***">
                    <div class="re__card-info-content">
                      <div>
                        <h3 class="re__card-title">
                          <span class="pr-title js__card-title" product-title="">
                            <%= service.name %>
                          </span>
                        </h3>
                        <div class="flex gap-1 items-center mb-2">
                          <div class="flex gap-1 items-center" aria-hidden="true">
                            <%= inline_svg_tag "svg/star.svg", size: "16", class: "text-yellow-400" %>
                            <span class="text-sm"><%= service.average_rating.to_f.round(1) %></span>
                            <span class="text-gray-500 text-xs">(<%= service.reviews_count %>) · </span>
                          </div>
                          <div class="re__card-location">
                            <span><%= "#{ service.first_or_main_address&.district }, #{ service.first_or_main_address&.province }" if service.first_or_main_address.present? %></span>
                          </div>
                        </div>
                        <div class="mb-2">
                          <p class="text-sm line-clamp-3">
                            <%= service.description %>
                          </p>
                        </div>
                      </div>
                      <div class="re__card-published-info">
                        <div class="re__card-published-info-published-at space-x-1">
                          <% if service.pricing.present? %>
                            <%= inline_svg_tag "svg/coins.svg", size: "16" %>
                            <span class="re__card-published-info-published-at">
                              <%= "#{number_to_currency service.pricing, unit: "đ", precision: 0, format: "%n %u"} - Mức giá phổ biến" %>
                            </span>
                          <% end %>
                        </div>
                        <div class="re__card-contact-button relative" data-prevent-delegation="true">
                          <span class="js__marking-product re__btn re__btn-se-border--sm re__btn-icon--sm" data-marked-product-info-as-json="{&quot;documentId&quot;:&quot;39738594&quot;,&quot;productId&quot;:39738594,&quot;avatarinfowap&quot;:&quot;https://file4.batdongsan.com.vn/crop/200x140/2024/05/03/20240503102933-9816_wm.jpg&quot;,&quot;title&quot;:&quot;Bán nhà mới tinh tại phường Hà Lầm, TP Hạ Long 0968484869&quot;,&quot;url&quot;:&quot;/ban-nha-rieng-phuong-ha-lam/ban-moi-tinh-tai-tp-long-pr39738594&quot;}" aria-label="Bấm để lưu tin" data-microtip-position="bottom" role="tooltip" tracking-id="save-listing" tracking-label="loc=SRP For Sale,status=save" title="">
                            <%= inline_svg_tag "svg/heart.svg", size: "20" %>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <%== pagy_nav(@pagy) %>
    </section>
  </article>
</div>
