<!DOCTYPE html>
<html>
  <head>
    <title>WeddingVista</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield(:head) %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= turbo_refreshes_with method: :replace, scroll: :preserve %>

    <script src='https://cdn.jsdelivr.net/npm/@goongmaps/goong-js@1.0.9/dist/goong-js.js'></script>
    <link href='https://cdn.jsdelivr.net/npm/@goongmaps/goong-js@1.0.9/dist/goong-js.css' rel='stylesheet'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>
  <body class="overflow-x-clip">
    <header>
      <%= render 'shared/navbar' %>
      <%= render "shared/flash" %>
    </header>

    <%= yield(:before_body) if content_for?(:before_body) %>

    <div class="container mx-auto max-w-screen-2xl mb-4">
      <%= content_for?(:body) ? yield(:body) : yield %>
    </div>

    <%= yield(:after_body) if content_for?(:after_body) %>

    <%= render 'shared/footer' %>
  </body>
</html>
