<!DOCTYPE html>
<html>
  <head>
    <title>WeddingVista</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<%#     <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <meta name="turbo-refresh-scroll" content="preserve">
  </head>
  <body>
    <header>
      <%= render 'shared/navbar' %>
      <%= render "shared/flash" %>
    </header>

<%#     <div class="container mx-auto max-w-screen-2xl"> %>
      <%= yield %>
<%#     </div> %>
  </body>
</html>
