<!DOCTYPE html>
<html>
  <head>
    <title>WeddingVista</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield(:head) %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= turbo_refreshes_with method: :replace, scroll: :preserve %>
  </head>
  <body>
    <header>
      <%= render 'shared/navbar' %>
      <%= render "shared/flash" %>
    </header>

    <div class="container mx-auto max-w-screen-2xl">
      <%= content_for?(:body) ? yield(:body) : yield %>
    </div>
  </body>
</html>
