<%#
  This layout is used for rendering turbo-stream responses.
  It will automatically be used when you render a turbo-stream response in your controller,
  or with the action.turbo_stream.erb files views.

  e.g.
  flash.now[:notice] = "Item has been updated"
  render turbo_stream: turbo_stream.replace("item_#{item.id}", partial: "items/item", locals: { item: item })
%>
<%= turbo_stream.replace "turbo-flash" do %>
  <%= render "shared/flash" %>
<% end %>

<% if defined?(@redirect_url) %>
  <%= turbo_stream.before "turbo-flash" do %>
    <div data-controller="redirect" data-redirect-url-value="<%= @redirect_url %>"></div>
  <% end %>
<% else %>
  <%= yield %>
<% end %>
