<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : t(:app_name) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield(:head) %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%# turbo_refreshes_with method: :replace, scroll: :preserve %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <main class="relative">
      <aside class="hidden md:block fixed font-medium bg-white border-r border-gray-300 h-screen w-[264px] z-50 overflow-y-auto overflow-x-hidden pb-9 px-2">
        <%= render "shared/vendor_sidebar" %>
      </aside>
      <header>
        <%= render "shared/flash" %>
        <%= render "shared/vendor_navbar" %>
      </header>
      <section class="flex flex-col min-h-screen pt-16 md:pl-[264px] w-full bg-gray-100">
        <%= content_for?(:body) ? yield(:body) : yield %>
      </section>
    </main>
  </body>
</html>
